{% extends 'dashboard/base.html' %}


{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/about.css' %}"/>
{% endblock %}


{% block content %}

<br><h1 style="text-align: center;">Ruffian</h1>
<hr>
<div class="nes-container" style="margin: 2%;">
    <p>Humans once lived in a time where to seek knowledge meant to travel the seven seas, whether it be for medicine or for the meaning of life, without ever knowing with good confidence that the knowledge they seek is true; now, the truth is merely at the touch of our fingertips——waiting.</p>
    <p>- During the <span>1980s</span>, weather forecasts, which was once only the colour of the sky and the strength of the wind, became data that can be read off computers. </p>
    <p>- In <span>1989</span>, you were finally able to chat among your friends on the internet.</p>
    <p>- In <span>1990</span>, the first search engine, Archie, was created, giving satisfying results collected from data across the web, yet nothing close to the powerful search algorithms we have today.</p>
    <p>- In <span>1994</span>, blogs were created to make profound studies or novel ideas accessible to anyone on the internet, allowing anyone to have a voice in the form of a post, comment or a review.</p>

    <br>
    <h3>Our Goal</h3>
    <p>As technology advances, humans become lazier. Algorithms and further automation completely dissolved the tough effort needed to learn. However, technology is meant to allow us to be lazy, that is not at all the issue——the issue here is that we forget. We forget the value of knowledge because it is easy to come by. We forget the true power of modern search engines because we take them for granted. And for the generations and generations to come, they will soon forget how their lifestyle came to be. This is exactly why we created <span>Ruffian</span>. We want to reinvigorate the early internet experience, recreating its most basic services and their table-like formats, whilst taking inspiration from the likes of AOL and Yahoo in hope of providing useful and fun services, not only to allow users to reminisce and once again remember, but also to educate them on the progression of the internet, making them realise, once again, that the power to knowledge is truly in their hands.</p>
    -<span> The Developers</span>
</div>


{% endblock content %}

