{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<br><h1 style="text-align: center;">Ruffian</h1>
<hr>
<div class="nes-container" style="margin: 2%;">
    <p>The mordern internet was a new feel for everyone. Suddenly information you could only recieve by travelling across the planet was accessible.<p>- During the <span style="color:red">1980s</span> scientist started read weather data off of computers.</p> <p>- In <span style="color:red">1989</span> you were finally able to chat among your friends on the internet.</p> <p>- In <span style="color:red">1990</span> the first search engine: "Archie" was created. It gave satisfying results collecting all the information on the web, nothing close to powerful search algorithms and the widespread information available today.</p> <p>- In <span style="color:red">1994</span> blogs were created to make profound studies or ideas of interest accessible to anyone on the internet. You could comment on them and leave reviews.</p></p>
    <br>
    <p>
        <p>Our Goal: As technology advances so do we, we ned up becoming more and more lazy having things automate earlier tasks for us. This ends up making us forget how early internet and software was. The generations and generations to come will soon forget how they're current lifestyle came to be. That's why we created <span style="color:red">Ruffian</span>. We want to recreate the most basic services of the early internet and they're table-like formats. Taking inspiration from the likes of AOL and Yahoo in hope of providing useful and fun services that not only cause users to reminisce of simpler times, but also educate users on the progression of the internet while also making all of us more thankful for how far technology has come.</p>
        -<span style="color:red"> The Developers</span>
    </p>
</div>

{% endblock content %}
