{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/index.css' %}">

{% endblock extra_css %}


<div class="row ml-3">
    <div class="col">
        <a class="text-primary" href="{% url 'chat-room' room_name='lobby' %}">Messenger</a>
    </div>

    <div class="col">
        <a class="text-primary" href="{% url 'engine-results' %}">Default Search Engine</a>
    </div>
</div>

{% endblock content %}
