{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/index.css' %}">

{% endblock extra_css %}

<div class="nes-container" style="margin: 2%;" >
    <h3 style="text-align: center;">Welcome <span class="nes-text is-primary">{{ username  }}</span>.</h3> <br>
    <progress class="nes-progress is-pattern" value="{{ current_points }}" max=""></progress> <br>
    <div style="display: flex;">
        <div id="profile" class="nes-container">
            <img src="{{ avatar  }}" />
        </div>
        <div id="status">
        
        </div>
    </div>
</div>

{% endblock content %}
