{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/index.css' %}">
{% endblock extra_css %}



<div id="log-in">
    <form action="" id="log-in-form">
        <label>Username: </label>
        <input type="text" name="username" placeholder="Enter your username ..."> <br>
        <label>Password: </label>
        <input type="password" name="password" placeholder ="Enter your pasword ..."> <br>
        <input type="submit" value="Login">
    </form>
</div>

<hr>

<div id="create-account">
    <p class="text-danger">Don't have an account: <p>
    <p class="text-success">Create One!</p>
    <form id="create-account-form">
        <label>Email Address: </label>
        <input type="email" name="new-email-address" placeholder="Enter an email address ..."> <br>
        <label>Username: </label>
        <input type="text" name="new-username" placeholder="Enter your username ..."> <br>
        <label>Password: </label>
        <input type="password" name="new-password" placeholder="Enter a strong password" size=25> <br>
        <input type="submit" value="Create Account">
    </form>
</div>

<hr>

<div id="forgot-creds">
    <p class="text-danger">Forgot your username or password?</p>
    <p>Just enter your email and follow the instructions</p>
    <form id="forgot-form">
        <label>Email Address:  </label>
        <input type="email" name="new-email-address" placeholder="Enter an email address ..."> <br>
        <input type="submit" value="Send Email">
    </form>
</div>

<h1 class="text-primary">Messenger</h1>

{% endblock content %}
