<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ webpage.name }}</title>
</head>
<body>
<h1><span><span>{{ webpage.user_title }}</span></span></h1>
<p>
    {{ webpage.user_text_1 }}

    {% if webpage.user_image_1 %}
    <img src="{{ webpage.user_image_1.url }}">
    {% endif %}
<p>
    {{ webpage.user_text_2 }}

    {% if webpage.user_image_2 %}
    <img src="{{ webpage.user_image_2.url }}">
    {% endif %}
<p>
    {{ webpage.user_text_3 }}

    {% if webpage.user_image_3 %}
    <img src="{{ webpage.user_image_3.url }}">
    {% endif %}
</body>
</html>
