/**
 * Theme that vaguely imitates Windows 95.
 * A static file "/static/fonts/hellovetica.woff2" should exist,
 * but it will fall back on "News Cycle" from Google Fonts if not.
 */

@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

@font-face {
    font-family: 'hellovetica';
    src: url('/static/fonts/hellovetica.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
  background: #008081;
}

body {
  background: #c0c0c0;
  padding: 5px 10px;
  font-family: hellovetica, "MS Sans Serif", "News Cycle", sans-serif;
  max-width: 690px;
  box-shadow: -2px -2px 5px #000 inset, 2px 2px 5px #fff inset;
  margin: 20px auto;
}

h1, h2, h3, h4, h5 {
  background: #010080;
  color: #fff;
  padding-left: 10px;
}
