

body, h1, h2, h3, h4, h5, h6 {
    font-family: Courier, monospace, Serif;
    padding: 0;
    margin: 0;
    color: black;

}

.home_h1 {
    background-color: #003388;
    color: #f5dd5d;
    height: 60px;
    text-align: left;
    vertical-align: bottom;
    padding-top: 0.0em;
}

.headerlink:link, .headerlink:visited, .headerlink:active   {
  color: white;
}

a {
  color: #C00000;
}

a:visited {
  color: #800000;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #FF00FF;
}

html { 
    background: url(/static/images/homebg.jpg) no-repeat center center fixed;
    background-repeat: repeat;
  }

.columnleft {
  float: left;
  float:top;
  width: 250;
}
.columnright {
  float: right;
  float:top;
  width: 250;
}
.columncenter {

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: red;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: pink;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: plum;
  }