

body, h1, h2, h3, h4, h5, h6 {
    font-family: Courier, monospace, Serif;
    padding: 0;
    margin: 0;
    cursor:progress;

}

.cursor {
    width:20px;
    height:20px;
    border: 8px solid #37E5E8;
    border-radius: 100%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
}


@keyframes cursorAnim {
 from{
     transform: scale(1);
     }
     to {
     transform:scale(.7);
     }
 }


.editer {
    border: inset;
    background: white;

}
.home_h1 {
    background-color: #003388;
    color: #f5dd5d;
    height: 60px;
    text-align: left;
    vertical-align: bottom;
    padding-top: 0.0em;
}

.headerlink:link, .headerlink:visited, .headerlink:active   {
  color: white;
}

a {
  color: #C00000;
}

a:visited {
  color: #800000;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #FF00FF;
}

html { 
    background: url(/static/images/homebg.jpg) no-repeat center center fixed;
    background-repeat: repeat;
  }
/* Create three unequal columns that floats next to each other */
.container {
  position: relative;
}

.columnleft {
  float: left;
  width: 200px;
  height: 95vh;
  top: 0px;
}
.columnright {
  float: right;
  width: 200px;
  height: 95vh;
  top: 0px;
}

.columncenter {
  position: top;
  width: auto;
  height: 95vh;
}

/* Clear floats after the columns */
row {
  border-color: #f00;
  border-width: 4px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: red;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: pink;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: plum;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.buttonmatch {
  background-color: grey;
  border: inset;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-sm {
  background-color: grey;
  border: inset;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 250px;
  text-align: left;
}
label {
  display: inline-block;
  width: 250px;
  text-align: center;
}

.resizedTextbox {
    width: 100px; height: 20px
  }

 input[type=checkbox] {
    display: none;
}

.doorcontainer img {
  /*margin: 100px;*/
  transition: transform 0.5s linear;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(3);
}

.aspectwrapper {
  display: inline-block; /* shrink to fit */
  width: 100%;           /* whatever width you like */
  position: relative;    /* so .content can use position: absolute */
}
.aspectwrapper::after {
  padding-top: 56.25%; /* percentage of containing block _width_ */
  display: block;
  content: '';
}
.content {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
  outline: thin dashed green;            /* just so you can see the box */
}
