/* Styles for the File Menu Bar. */

.select-editable {position:relative; background-color:white; border:solid grey 1px;  width:120px; height:18px;}
.select-editable select {position:absolute; top:0px; left:0px; font-size:14px; border:none; width:120px; margin:0;}
.select-editable input {position:absolute; top:0px; left:0px; width:100px; padding:1px; font-size:12px; border:none;}
.select-editable select:focus, .select-editable input:focus {outline:none;}
.fa-arrow-circle-right, .fa-file-code, .fa-sync-alt{
  color: green
}


/* Styles for the File Menu Bar. */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  font-size: 14px;
  width: max-content;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 6px;
  padding-right: 4px;
  text-align: center;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

button{
  min-width: 0;
  background: none;
  box-shadow: none;
}


hr{
  display: block; 
  overflow: hidden; 
  border-style: inset; 
  border-width: 1px; 
  margin-bottom:1px
}


.Frame{
 
    background-color: #bbc3c4;
    padding: 3px;
    box-shadow: inset -1px -1px 0px #0c0c0c, inset 1px 1px 0px #bbc3c4, inset -2px -2px 0px #808088, inset 2px 2px 0px #ffffff;
    width: max-content;
}

.window-body{
  margin: 0;
  padding: 0px;
  margin-left: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.btn{
  border: 0px solid transparent;
  background-color: #bbc3c4;
  position: relative;
  user-select: none;
}

.BtnIconwText{
  padding: 2px;
  width: 48px;
  min-width: 48px;
  height: 38px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

.BtnIconwText:hover{
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);;
}

.divider1, .divider2{
  border-left: 1px solid #808088;
  border-right: 1px solid #ffffff;
  width: 1px;
  margin: 2px 3px;
}


.menu{
  display: flex;
  overflow: hidden;
  padding: 1px 0px;
  position: relative;
}

/* Styles for drodown */
a:hover {
  background-color: #080977;
}

.hbutton:hover {
  color: white;
  padding: inherit;
}

.dropbtn {
  box-shadow: none;
  min-width:0;
  font-size: 13px;
}

.dropbtn:hover {
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

.dropbtn:focus {
  outline: none;
  text-shadow: -1px -1px 0px #777, -1px -1px 0px #777;
  box-shadow: inset 1px 1px 4px #222;
  transform: translateY(1px);
}

img.dropbtn:focus {
  outline: none;
  text-shadow: -1px -1px 0px #777, -1px -1px 0px #777;
  box-shadow: inset 1px 1px 4px #222;
  transform: translateY(1px);
}

/* styles for font awesome icons used for icon bar */
.fa-arrow-right {
  background-color: rgb(14, 177, 14);
  padding: 1px;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
}

.fa-angle-double-right {
  position: relative;
  font-size: 12px;
  top: -3px;
}

.menu {
  width: 100%;
  text-align: justify;
}

.menu ul {
  list-style: none;
  margin-left: -25px;
}

ul,
ul li {
  display: inline;
  margin-right: 8px;
}

.fas {
  font-size: 16px;
}

.fa-arrow-circle-left {
  color: green;
}

.refresh {
  position: relative;
  top: 4px;
}

.fa-arrow-circle-right,
.grey-caret-down {
  opacity: .7;
  color: grey;
}

.fa-file-excel {
  color: red;
}

.fa-home {
  color: rgb(136, 97, 24);
}

.fa-search {
  color: rgb(64, 139, 238);
}

.fa-star {
  color: rgb(241, 241, 23);
}

.undo {
  width: 16px;
}

.open-folder {
  position: relative;
  top: 3px;
  width: 20px;
  right: 3px;
}

.print {
  position: relative;
  top: 3px;
}

.views {
  position: relative;
  top: 3px;
}

/* styles for footer */
* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  font-size: 0;
}

.footer_boxes {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 13px;
  min-height: 15px;
  border-style: inset;
}

#left {
  width: 65%;
  height: 18px;
  text-align: left;
}

#e_style {
  width:12px; 
  height:15px;
  display: block;float: left
}

#earth {
  width:15px; 
  height:16px;
  display: block;
  float: left
}

#middle1 {
  width: 2%;
  vertical-align: middle;
  height: 18px;
}

#middle2 {
  width: 2%;
  vertical-align: middle;
  height: 18px;
}

#middle3 {
  width: 2%;
  vertical-align: middle;
  height: 18px;
}

#right {
  width: 14.5%;
  vertical-align: middle;
  height: 18px;
}

#time {
  border-style: inset;
  width:10%;
  min-width:48px;
  vertical-align: middle;
  height:18px;
}

.vertical-line {
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-left: 1px solid #ccc;
  height: 18px
}

.address_label {
  margin-left:3px;
  margin-right: 3px;
}

