{% extends "blog/base.html" %}
{% block content %}
                                        
<div class="col-12 col-lg-6 mb-4 mb-lg-0">
    <div class="card">
        <div class="card-header">
            About
        </div>
        <div class="card-body">
            <p class="card-text">Chat in real time and meet new people... sign up today!</p>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-sm mr-2 btn-primary border-dark"
                    type="button"><span class="btn-text"><a href="{% url 'blog-home' %}">OK</a></span></button>
                <button class="btn btn-sm btn-primary" type="button"><span
                        class="btn-text">Cancel</span></button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
