{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'rovers/main.css' %}">
        {% block extrahead %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Start Navigation -->
        <table><tbody>
            <tr>
                <td colspan=4><a href="{% url 'posts-home' %}">
                    SpaceBook
                </a></td>
            </tr>
            <tr>
                <td><a href="{% url 'posts-home' %}">
                    Home
                </a></td>
                <td><a href="{% url 'rovers:rover-list' %}">
                    Rovers
                </a></td>
                <td><a href="#">
                    Weather
                </a></td>
                <td><a href="#">
                    Guestbook
                </a></td>
            </tr>
        </tbody></table>
        <!-- End Navigation -->

        {% block body %}{% endblock %}
    </body>
</html>
