{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block extrahead %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Start Navigation -->
        <div class="header-div"><table class="header-table nav nav-table"><tbody>
            <tr>
                <td colspan=4 class="nav nav-logo"><a href="{% url 'posts-home' %}">
                    Spacebook
                </a></td>
            </tr>
            <tr>
                <td class="nav nav-link"><a href="{% url 'posts-home' %}">
                    Home
                </a></td>
                <td class="nav nav-link nav-lborder"><a href="{% url 'rovers:rover-list' %}">
                    Rovers
                </a></td>
                <td class="nav nav-link nav-lborder"><a href="{% url 'mars_weather:current_weather' %}">
                    Weather
                </a></td>
                <td class="nav nav-link nav-lborder"><a href="{% url 'guestbook:guestbook' %}">
                    Guestbook
                </a></td>
            </tr>
        </tbody></table></div>
        <!-- End Navigation -->

        {% block body %}{% endblock %}
    </body>
</html>
