{% extends "posts/base.html" %}

{% load static %}

{% block title %}
    {% if username %}
        {{ username }}'s Posts
    {% else %}
        Spacebook Home
    {% endif %}
{% endblock %}

{% block extrahead %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block body %}
    <div class="body-div full-width">
        <h2>
            {% if username %}
                {{ username }}'s Posts
            {% else %}
                All Posts
            {% endif %}
        </h2>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?{{ username_get }}page=1">First</a>
                <a href="?{{ username_get }}page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?{{ username_get }}page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?{{ username_get }}page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{{ username_get }}page={{ page_obj.next_page_number }}">Next</a>
                <a href="?{{ username_get }}page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
        <br>
        <table class="imagepost-table"><tbody><tr>
            {% for post in posts %}
                {% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %}
                    </tr><tr><td colspan=4>&nbsp;</td></tr><tr>
                {% endif %}
                <td>
                    <a href="{% url 'posts-detail' post.pk %}?{{ username_get }}">
                        <img src="{{ post.image.url }}" class="imagepost-thumbnail" title="{{ post.description }}">
                    </a>
                    <br>
                    Posted by
                    <a href="{% url 'rovers:rover-profile' post.rover.username %}">
                        {{ post.rover.username }}
                    </a>
                </td>
            {% endfor %}
        </tr></tbody></table>
    </div>
{% endblock %}
