{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'rovers/main.css' %}">
        <title>Spacebook Home</title>
    </head>
    <body>
        Latest Posts
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
        <br>
        <table>
            <tbody>
                <tr>
                    {% for post in posts %}
                        {% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %}
                            </tr><tr>
                        {% endif %}
                        <td>
                            <a href="{% url 'posts-detail' post.pk %}">
                                <img src="{{ post.image.url }}" class="imagepost-thumbnail">
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </body>
</html>
