html {
    background-color: #000;
}

body{
    background-color: #000000;
    color: #ffffff;
}

img {
    width: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

td {
    text-align: center;
}