html {
    background-color: #000;
}

body{
    background-color: #39ff14;
    color: #bc13fe;
    padding: 25px;
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: #ff0000;
}

img {
    width: 10%;
}

h1 {
    background-color: #cf0;
}
