textarea {
    min-height: 400px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: transparent;
}

.media:hover {
    cursor: pointer;
}

.media {
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

img {
    width: 48px;
    height: 48px;
    align-self: center;
}

.unread-email {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.read-email {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #000000;
}

#read-view {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

#read-from h5, #read-to h5, #read-subject h5 {
    font-weight: normal;
}

#read-body {
    min-height: 400px;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1em;
}

#archive-btn {
    background: white;
    border: none;
}

#archive-btn:focus {
    border: none;
    outline: none;
}

#archive-btn::before {
    content: '\1F5C3';
    font-size: 2.5em;
}

#product-title {
    font-size: 5em;
    text-align: center;
    text-shadow: 1px 3px 0 #969696, 1px 7px 5px #aba8a8, 2px 2px 2px rgba(115, 127, 148, 0);
    color: #fffd95;
}

#product-title img {
    width: 64px;
    height: 64px;
}

button.unarchive {
    background: #ededed !important;
    box-shadow: inset 1px 3px 3px 1px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

button.archive {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.7), 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
    ;
    border-radius: 15px;
}

@keyframes archive-animation {
    0% {
        transform: scale(1);
        transform-origin: 50% 0%;
    }
    100% {
        transform: scale(0.1);
        transform-origin: 50% 0%;
    }
}

.archive-animation {
    animation-name: archive-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

body {
    background: #000000;
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 3rem;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 50px;
}

.btn-red {
    color: rgb(138, 63, 63);
}
