{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if webpage %}
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}themes/{{webpage.template_used.style_sheet}}">
        <title>{{ webpage.name }}</title>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Early Internet Page Maker</title>
    {% endif %}

    {# This code generates a thumbnail for *user-created* pages if it does not already exist or is out of date #}
    {% if webpage.user_title %}
        {% load render_img_thumbnail %}

        {% url 'webpage-view' pagename=webpage.name as user_pg %}
        {# 'as none' used below to stop None being printed onto page #}
        {% render_img_thumbnail request user_pg webpage as none %}
    {% endif %}
</head>
<body>
<header>
    <p>Hello!</p>
    {% if user.is_authenticated %}
    <a href="{% url 'user-detail' pk=user.id %}"> {{ user.username }}</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="{% url 'home' %}">Home</a>
</header>

<main>
    {% if error %}
    <div>
        <p>{{ error.text }}</p>
      </div>
      {% endif %}
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
