{% extends "page_maker/base.html" %}

{% block content %}
<h2>User {{ viewed_user.username }}</h2>
{% if request.user == viewed_user %}
<a href="{% url 'user-update' pk=viewed_user.id %}">update</a>
<a href="{% url 'user-delete' pk=viewed_user.id %}">delete</a>
{% endif %}
<table>
    <tr>
        <th>Preview</th>
        <th>Webpage Title</th>
    </tr>
    {% for webpage in user_pages %}
    <tr>
        <td>
            {% if "placeholder_img" not in webpage.thumbnail.url %}
            <img src="{{ webpage.thumbnail.url }}">
            {% else %}
            Go to page itself to generate a thumbnail for it.
            {% endif %}
        </td>
        <td>
            <a href="{% url 'webpage-view' pagename=webpage.name %}">{{ webpage.user_title }}</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
