{% extends "page_maker/base.html" %}

{% block content %}
{% if webpages %}
    {% for webpage in webpages %}
    <div>
        {% url 'webpage-view' pagename=webpage.name as user_pg %}
        <a href="{{ user_pg }}">
            <p>{{ webpage.user_title }}</p>
        </a>
        {% if webpage.thumbnail.url %}
            <img src="{{ webpage.thumbnail.url }}">
        {% else %}
            To generate a thumbnail for '{{ webpage.user_title }}', go to
            <a href="{{ user_pg }}">the page itself.</a>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
<p>No sites have been created yet!</p>
{% endif %}
{% endblock %}
