{% extends "page_maker/base.html" %}

{% block content %}
<div><h1>{{ webpage.user_title }}</h1></div>
<img src="{{ webpage.user_image_1.url }}">
<div>{{ webpage.user_text_1 }}</div>
<img src="{{ webpage.user_image_2.url }}">
<div>{{ webpage.user_text_2 }}</div>
<img src="{{ webpage.user_image_3.url }}">
<div>{{ webpage.user_text_3 }}</div>
<img src="{{ webpage.user_image_4.url }}">
<p>
  <a href="{% url 'user-detail' pk=webpage.author.id %}">{{ webpage.author.username }}</a>
</p>
{% endblock %}