body {
    color: #CCCCCC;
    /*  url("../images/beautiful-blue-stars-fill.jpg")*/
    background: black;
    font-family: sans-serif;
}
th, td {
  border: 1px solid white;
}
h2{
    text-align: center;
}
.center_screen {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

