{% extends "dashboard/base.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'posts/create_post.css' }" />
{% endblock extra_css %}


{% block content %}
{% load custom_filters %}

<div class="nes-container with-title create-post-form">
    <span class="title form-title">{{ quote }}</span>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="nes-field is-inline create-post-input" align="center">
            <label>{{ field.label }}</label>
            {{ field|addclass:"nes-input" }}
        </div>

        {% for error in field.errors %}
            <p class="nes-text is-error">{{ error }}</p>
        {% endfor %}
        {% endfor %}
    <input class="nes-btn is-success" type="submit" value="Post">
    </form>
</div>
{% endblock content %}