{% extends 'main/main-base.html' %}

{% block herocontent %}
<div class="hero-body">
    <div class="container grid">
        <div class="box is-semitransparent">
            <section>
                <a class="button" href="{% url 'add-background' %}">add background</a>
                <a class="button" href="{% url 'profile' %}">go back</a>
                <h1 class="title">current backgrounds</h1>
                {% if background_list %}
                {% include "background_app/gallery.html" %}
                    <div class="container">
				<!-- Start Carousel -->
                        {% for background in background_list %}
                            
                        
                            <div id="carousel" class="bulma-carousel">
                                <div class="item-{{ background.pk }}">
                                    <figure class="image is-16by9">
                                        <img src="{{ background.background_thumbnail.url }}" alt="No file">
                                        <figcaption>{{ background.background_title}}</figcaption>
                                    </figure>
                                    <form action="{% url 'background-delete' background.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="delete">
                                    </form>
                                    <form action="{% url 'background-use' background.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="use">
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- End Carousel -->
                    </div>
                  <!--    
                    {% for background in background_list %}
                        <h2>background</h2>
                        <figure class="image is-16by9">
                            <img src="{{ background.background_thumbnail.url }}" alt="No file">
                            <figcaption>{{ background.background_title}}</figcaption>
                        </figure>
                        <form action="{% url 'background-delete' background.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="delete">
                        </form>
                        <form action="{% url 'background-use' background.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="use">
                        </form>
                    {% endfor %}
                    -->  
                {% else %}
                    <p>no user uploaded backgrounds</p>
                {% endif %}
            </section>
        </div>
        <div class="carousel-grid">
            <h1 class="title">current backgrounds</h1>
            {% if background_list %}
                
                <section class="section">
                    <div id="bg-carousel2" class="carousel">
                        <div class="carousel-container">
                        <!-- Start Carousel -->
                            {% for background in background_list %}
                                
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9  is-covered">
                                            <img src="{{ background.background_thumbnail.url }}"
                                            alt="">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            {{ background.background_title}}
                                        </div>
                                        <form action="{% url 'background-delete' background.pk %}" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="delete">
                                        </form>
                                        <form action="{% url 'background-use' background.pk %}" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="use">
                                        </form>
                                    </div>
                                </div>
                                
                                
                            {% endfor %}
                        <!-- End Carousel -->
                        </div>
                    </div>
                </section>
            {% else %}
                <p>no user uploaded backgrounds</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock herocontent %}

{% block content %}

{% endblock content %}

