<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello Bulma!</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
		<link href="~bulma-carousel/dist/css/bulma-carousel.min.css" rel="stylesheet">
	</head>
  	<body>
		<section class="section">
			<div class="container">
				<!-- Start Carousel -->
				<div id="carousel-demo" class="carousel">
					<div class="carousel-item card">
                        <div class="card-image">
                            <figure class="image is-16by9 is-covered">
                                <img src="https://images.unsplash.com/photo-1512428197675-daae5d4e1e43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p>testing</p>
                        </div>       
                    </div>
					<div class="carousel-item">
						<img src="https://images.unsplash.com/photo-1519375722682-222902a76bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1377&q=80" alt="">
					</div>
					<div class="carousel-item">
						<img src="https://images.unsplash.com/photo-1542959654-cd59e9daea44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
					</div>
				</div>
				<!-- End Carousel -->
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
		<script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script>
		<script>
		bulmaCarousel.attach('#carousel-demo', {
			slidesToScroll: 1,
			slidesToShow: 1,
			infinite: true,
		});
		</script>
	</body>
</html>