{% extends "chat/base.html" %}
{% block content %}
    {% for text in texts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ text.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ text.author }}</a>
                <small class="text-muted">{{ text.date_sent|date:"D g:i" }}</small>
            </div>
            <p class="article-content">{{ text.content }}</p>
            </div>
        </article>
    {% endfor%}
{% endblock content %}