<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./draw.css">
    <script src="./paint.js"></script>
    <title>Canvas</title>
</head>
<body>
    <div class="toolbox left">
        <div class="group commands"></div>
        <div class="group shapes"></div>
        <div class="group tools"></div>
    </div>

    <canvas id="canvas"></canvas>

    <div class="toolbox bottom">
        <div class="group line"></div>
        <div class="group color"></div>
    </div>

</body>
</html>