{% extends 'Web95/base.html' %}

{% block content %}

<h1>StalinSoft</h1>
<p>Site is under maintenance</p>
<p>That's great to see you mate!</p>

<div class="card">
    <div class="card-header">
        Default Primary Card Header Title
    </div>
    <div class="card-body">
        <p class="card-text">Windows 95 sold for $89.99 as an upgrade or
            $179.99 for the full
            version.</p>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-sm mr-2 btn-primary border-dark"
                type="button"><span class="btn-text">OK</span></button>
            <button class="btn btn-sm btn-primary" type="button"><span
                    class="btn-text">Cancel</span></button>
        </div>
    </div>
</div>

{% endblock %}
