{% extends 'Web95/base.html' %}

{% load static %}

{% block content %}

<h1>Juicy Jaguars</h1>

<p>Site is under maintenance</p>

<div class="card card-tertiary draggable" id="test01" style="max-width: 200px;" tabindex="0">
    <div class="card-header draggable-header">
        Question

        <button class="btn btn-sm btn-primary window-btn">
            <span class="btn-text window-btn-text"> X </span>
        </button>
        <button class="btn btn-sm btn-primary window-btn">
            <span class="btn-text window-btn-text"> O </span>
        </button>
        <button class="btn btn-sm btn-primary window-btn" onclick="wm_minimise('test01');">
            <span class="btn-text window-btn-text"> _ </span>
        </button>
    </div>
    <div class="card-body">
        <p class="card-text">Check back later?</p>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-sm mr-2 btn-primary border-dark" type="button">
                <span class="btn-text">OK</span>
            </button>
            <button class="btn btn-sm btn-primary" type="button">
                <span class="btn-text">No</span>
            </button>
        </div>
    </div>
</div>

<div class="card card-tertiary draggable test02" id="test02" style="width: 700px; height: 500px; left: 300px; top: 150px;" tabindex="0">
    <div class="card-header draggable-header">
        <img class="header-icon" src="{% static 'images/icons/Logos/SMALL.ico' %}" height=20px>
        Internet Explorer

        <button class="btn btn-sm btn-primary window-btn">
            <span class="btn-text window-btn-text"> X </span>
        </button>
        <button class="btn btn-sm btn-primary window-btn">
            <span class="btn-text window-btn-text"> O </span>
        </button>
        <button class="btn btn-sm btn-primary window-btn" onclick="wm_minimise('test02');">
            <span class="btn-text window-btn-text"> _ </span>
        </button>
    </div>
    <div class="card-body">

    </div>
</div>

{% endblock %}
