<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gif Preview</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-display-topmiddle">
        <h2>{{ title }}</h2>
    </div>
    <div class="w3-display-middle">
        <img src="{{ path }}">
    </div>
    <div class="w3-display-bottommiddle">
        <div class="w3-button w3-black">
            <a href="../{{ title }}" class="w3-button w3-black">Back</a>
        </div>
        <div class="w3-button w3-black">
            <a href="/project/{{ title }}/publish" class="w3-button w3-black">Post</a>
        </div>
    </div>
</body>
</html>