{% extends 'main/main-base.html' %}

<!-- <div class="box is-transparent">
    <h2 class="title">MultiTab</h2>
    <article class="media notification">
        <div class="media-content">
            <div class="content">
                <h3 class="title">Article 1</h3>
            </div>
        </div>
    </article>

</div> -->
{% block content%}
<div>
    <h2>Morning spirit</h2>
    <section>
        <p>multitab</p>
    </section>
    <section>
        <a href="{% url 'edit-multitab' %}">edit multitabs</a>
        
    </section>
</div>
{% endblock content %}