div {
  display: flex;
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  font-size: 70px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

div:hover {
  background-color: #BDBDBD;
}

.winner {
  background-color: green;
}
