ansicon==1.89.0
arrow==0.15.8
asgiref==3.2.10
blessed==1.17.9
certifi==2020.6.20
chardet==3.0.4
astral==2.2
Django==3.0.8
django-compat==1.0.15
django-picklefield==3.0.1
django-q==1.3.2
Django==3.0.8
django-widget-tweaks==1.4.8
feedparser==5.2.1
idna==2.10
jinxed==1.0.0
newsapi-python==0.2.6
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
wcwidth==0.2.5
flake8==3.8.3
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.1
sqlparse==0.3.1
timezonefinder==4.4.1
