{% extends "base.html" %}
{% block content %}
    <div class="col-lg-9">
        <div class="posts">
        <h1>Username: {{user.get_username}}</h1>
        <h1>Userid: {{user_data.id}}</h1>
        {% if user_data.avatar.url is not null %}
            <img src = "{{user_data.avatar.url}}" width="70px" height="70px">
         {% endif %}
        <h2>Joining Date: {{user_data.join_date}}</h2>

            <form method="post" enctype=multipart/form-data>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
{% endblock %}