{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Early list</h2>
    <p>
    This is a list of currently indexed Earls.
    {% if earl_list %}
        There{% if earl_list.count != 1 %} are {{earl_list.count}} Earls{% else %} is 1 Earl{% endif %} in the database.
    {% else %}
        There are no Earls in the database yet.
    {% endif %}
    </p>
    {% if earl_list %}
    <ul>
    {% for earl in earl_list %}
        <li> {{ earl }} </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}
