{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Early grid</h2>
    <p>
    This is a grid view of currently indexed Earls.
    {% if earl_list %}
        There{% if earl_list.count != 1 %} are {{earl_list.count}} Earls{% else %} is 1 Earl{% endif %} in the database.
    {% else %}
        There are no Earls in the database yet.
    {% endif %}
    </p>
    {% if earl_list %}
    <div class="grid">
        <div style="width:100%">
        {% for earl in earl_list %}
            <img width="120"
                height="120"
                src="{{ earl.image.url }}"
                title="{{ earl }}"/>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
