{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Only one group, up to homomorphism</title> <!-- so this is the title it shows on the tab apparently ~kevin -->
</head>
{% block content %}
    <a href="{% url "new-thread" %}">Create New Thread</a>
    <body>
    Single-thread page
        <blockquote>
            thread_id: {{ id }}
            <br>
            thread_page: {{ page }}
        </blockquote>

    <h1>{{ thread.title }}</h1>
    <h3>{{ thread.author.nickname }}</h3><br>

    {% for s in messages %}
        {% if forloop.counter == 1 %}  <!-- the django counter starts at 1 lol -->
            {{ s.content }}  <br>
            {% if thread.author == user %}
                <a href={% url "edit-thread" id %}>Edit Thread</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url "delete-thread" id %}">Delete Thread</a>
                <br><br>
            {% endif %}
        {% else %}
            {{ s.author }}:
            {{ s.content }}
            {% if s.author == user %}
                &nbsp;&nbsp;
                <a href={% url "edit-message" id s.id%}>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href={% url "delete-message" id s.id%}>Delete</a>
            {% endif %}
            <br>
        {% endif %}
    {% endfor %}

    <br>
    <a href={% url "new-message" thread.id %}>Post A Message</a><br>
    {% if prev_page %}
        <a href="/forum/threads/{{ prev_page }}?p={{ prev_page }}">Previous Page</a>
    {% endif %}
    <a href="/forum/threads/{{ id }}?p={{ next_page }}">Next Page</a>
    <br>
    {% if prev_id %}
        <a href="/forum/threads/{{ prev_id }}?p={{ page }}">Previous Thread</a>
    {% endif %}

    {% if next_id %}  <!-- check if a forum with the next id actually exists -->
        <a href="/forum/threads/{{ next_id }}?p={{ page }}">Next Thread</a>
    {% endif %}
    <br>
    <a href="/">Home</a>
    </body>
{% endblock %}
</html>
