{% load static %}
{% load index_tag %}
<!doctype html>

<html lang="en">
    
<head>
    <meta charset="utf-8">
    <title>SpydirWeb!</title>
    <meta name="description" content="SpydirWeb">
    <meta name="author" content="Talented Tigers">
    <link rel="stylesheet" type="text/css" href="{% static 'spydir\css\styles.css' %}">
</head>

<body>

{% block content %}{% endblock %}

</body>

<script type="text/javascript">
    var blink = document.getElementById('blink');
    setInterval(function() {
    blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
    }, 450);
</script>
<style>
    body {
        height: 100%;
        color: #ffffff;
        background-image: "{% static 'spydir\css\starbackground.jpg' %}";
    }
</style>
</html>
