{% load static %}
<!doctype html>

<html lang="en">
    
<head>
    <meta charset="utf-8">
    <title>SpydirWeb!</title>
    <meta name="description" content="SpydirWeb">
    <meta name="author" content="Talented Tigers">

    <link rel="stylesheet" type="text/css" href="{% static 'spydir\css\styles.css' %}">
</head>

<body>
    <script src="js/scripts.js"></script>
    <h1>Welcome to SpydirWeb!</h1>
    <p>The new way to surf the web.</p>
    <img src="{% static 'spydir\img\coollogo.gif' %}">
    <img src="{% static 'spydir\img\websurf.gif' %}">
    <img src="{% static 'spydir\img\coollogo2.png' %}">
</body>

</html>
