{% load static %}
{% load index_tag %}
<!doctype html>

<html lang="en">
    
<head>
    <meta charset="utf-8">
    <title>SpydirWeb!</title>
    <meta name="description" content="SpydirWeb">
    <meta name="author" content="Talented Tigers">

    <link rel="stylesheet" type="text/css" href="{% static 'spydir\css\styles.css' %}">
</head>

<body>
    <script src="js/scripts.js"></script>
    <img class="center" src="{% static 'spydir\img\coollogo.gif' %}">

 

    <div class="center">
      <table width="100%" style="border-spacing: 10px;">
      <thead>
        <tr>
          <th>Blogs</th>
          <th>Food</th>
          <th>Information</th>
          <th>Businesses</th>
        </tr>
      </thead>
      <tbody>
          {% with ''|center:MAX_LENGTH as range %}
          {% for _ in range %}
            <tr>
              {% if forloop.counter <= BIZ_LENGTH %} <td><a href="http://google.com/"> {{ BLOG|index:forloop.counter0 }} </a></td> {% endif %}
              {% if forloop.counter <= FOOD_LENGTH %} <td><a href="http://google.com/"> {{ FOOD|index:forloop.counter0 }} </a></td> {% endif %}
              {% if forloop.counter <= INFO_LENGTH %} <td><a href="http://google.com/"> {{ INFO|index:forloop.counter0 }} </a></td> {% endif %}
              {% if forloop.counter <= BIZ_LENGTH %} <td><a href="http://google.com/"> {{ BIZ|index:forloop.counter0 }} </a></td>  {% endif %}
            </tr>
          {% endfor %}
          {% endwith %}
      </tbody>
      </table>
    </div>

</body>

</html>
