{% if user == active_trivia_quiz.session_master %}
    <form method="post"  action="{% url 'activequiz' active_trivia_quiz.pk %}">
      {% csrf_token %}
        <!--if current_question_index is less than zero (meaning that the quiz has ended)-->
        {% if active_trivia_quiz.current_question_index < 0 %}
            <input type="submit" class="btn btn-outline-primary" name='end-quiz' value="End Quiz">
        <!--if current_question_index is greater than zero (meaning it is on question <current_question_index>)-->
        {% elif active_trivia_quiz.current_question_index < active_trivia_quiz.trivia_quiz.triviaquestion_set.count %}
            <input type="submit" class="btn btn-outline-primary" name='next-question' value="Next question">
        <!--if current_question_index is equal to zero (meaning it is currently on setup)-->
        {% else %}
            <input type="submit" class="btn btn-outline-primary" name='show-results' value="Show Results">
        {% endif %}
    </form>
{% endif %}