body {
    background-color: #abadb3;
    margin-bottom: 60px;
}

footer {
    font-weight: bold;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a.active-navbar {
    text-decoration: underline;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}