{% extends "aggregator/base.html" %}
{% block content %}
<h1>About Page</h1>
<br><br>
<h2 style = "color:white" style="font-size:18px">
    Newsly is news-aggregator website.<br><br>
    Every morning, choosing the source of the news you receive can be a daunting task with the plethora of choices 
    available today.<br> That one article on Bloomberg that isn't on TheGuardian could mean you're missing out.<br><br>
    
    And that's where Newsly comes in!<br> It takes care of your early(morning) internet usage, gathering news articles from
    (almost) every major newspaper. <br><br>
    
    The Articles on the home page are listed with their headlines, a short summary and their authors.<br>
    These can be filtered based on the category of your interest.<br>
    Apart from categorisation, you can also click on an individual article to view its content in detail. <br>
    Moreover, you could click on the title of the article to head to the actual source of the artcle itself, if you 
    wanted to.<br><br><br>

    The supported countries include : US, GB, DE, FR, IN, RU, ES, BR, IT, CA, AU, NL, PL, 
    NZ, PT, RO, UA, JP, AR, IR, IE, PH, IS, ZA, AT, CL, HR, BG, HU, KR, SZ, AE, EG, VE, CO, SE, CZ, ZH, 
    MT, AZ, GR, BE, LU, IL, LT, NI, MY, TR, BM, NO, ME, SA, RS, BA as well as their corresponding languages.
</h2>
{% endblock content %}