.section-vertical {
    display: flex;
    align-items: center;
    flex-direction: column
}

.section-horizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: row
}

.container {
    margin: 0 10% 0 10%;
}

.search {
    width: 100%;
    background-color: gray;
}

.others {
    width: 100%;
}

.others-item {
}