{% extends "dashboard/base.html" %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<!--
This template shouuld show
-Username <h1>
-Email <h2>
-Points
-Statistics (Posts, Comments, Likes, Searches made, Messages sent)
-Options to change password, email, username, etc.
-->

{% load custom_filters %}

<div class="nes-container with-title signup-form">
    <span class="title signup-form-title">Your Profile</span>

    <p>Your Avatar</p>
    <img src="{{ user.profile.avatar.url }}">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ user_form }}
            {% for field in profile_form %}
            
            <!-- Exclude biography if not unlocked -->
            {% if field.name == "biography" and user.bio_unlocked == False %}
            {% else %}

            <div class="nes-field is-inline signup-input" align="center">
                <label>{{ field.label }}</label>
                {{ field|addclass:"nes-input" }}
            </div>

            {% endif %}
    
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <!-- {{ profile_form }} -->
        </fieldset>

        <input class="nes-btn is-success" type="submit" value="Update">
    </form>
</div>

{% endblock content %}
