{% extends 'albatrosses_hub/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}" />
{% endblock styles %}


{% block content %}
    <p id="homepage-content">
        About Us
    </p>
    <table>

        <tr>
        
        <td><img src="{% static 'albatrosses_hub/img/logo-with-text.png' %}" alt=" "></td>
        
        <td>Welcome, one and all, to my humble Web 
        
        abode! Albatrosses Hub is a fun website where you can spend your time playing Mafia Game
        or discussing about something in the forum. You also can access some hot news by using
        the newsletter feature</td>
        
        <td><img src="{% static 'albatrosses_hub/img/logo-without-text.png' %}" alt=" "></td>
        
        </tr>
        
        </table>
{% endblock content %}