{% extends 'albatrosses_hub/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}" />
{% endblock styles %}


{% block content %}
    <p id="homepage-content">
        About Us
    </p>
    <table>
        <tr>
        <td><font size=5>W<font size=3>elcome, one and all, to my humble Web abode! Albatrosses Hub is a fun website where you can spend your time playing Mafia Game
        or discussing about something in the forum. You also can access some hot news by using
        the newsletter feature</td>
        <td><img class="one" src="/static/img/albatrosses-logo.png" alt=" " width="300" height="300"></td>
        </tr>
    </td>
</table>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/static/img/albatrosses-logo.png" alt="Jane" style="width:30%">
                <div class="container">
                     <h4>Sleepersocks</h4>
                     <p class="title">Team Leader</p>
                     <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                     <p>example@example.com</p>
                     <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
        <div class="row">   
        <div class="column">
           <div class="card">
              <img src="/static/img/albatrosses-logo.png" alt="Jane" style="width:30%">
              <div class="container">
                 <h4>Iqrar99</h4>
                 <p class="title">Developer</p>
                 <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                 <p>example@example.com</p>
                 <p><button class="button">Contact</button></p>
              </div>
           </div>
        </div>

           <div class="column">
              <div class="card">
                 <img src="/static/img/albatrosses-logo.png" alt="Jane" style="width:30%">
                 <div class="container">
                    <h4>Nabob</h4>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                 </div>
              </div>
           </div>
           <div class="column">
              <div class="card">
                 <img src="/static/img/albatrosses-logo.png" alt="Mike" style="width:30%">
                 <div class="container">
                    <h4>Music</h4>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                 </div>
              </div>
           </div>
           <div class="column">
              <div class="card">
                 <img src="/static/img/albatrosses-logo.png" alt="John" style="width:30%">
                 <div class="container">
                    <h4>Soyybeans</h4>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                 </div>
              </div>
           </div>
        </div>
{% endblock content %}
