@import "components/directory";

.messenger-app {
  @import 'messenger';
}

.aol-app {
  @import 'aol';
}

.irc-app {
  @import 'irc';
}

body{
  overflow: hidden;
  padding-top: 0px;
  margin-top: 0px;
}
