@import "components/directory";

.messenger-app {
  @import 'messenger';
  overflow: hidden;
  font-family: sans-serif;
  padding-top: 0px;
  margin-top: 0px;
  #background {
    background-color: white;
  }
}

.aol-app {
  @import 'aol';
  overflow: hidden;
  // font-family: serif;
  padding-top: 0px;
  margin-top: 0px;
}

.aol-app::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  #background {
    background-color: white;
  }
}


.irc-app {
  @import 'irc';
  overflow-y: visible;
  overflow-x: hidden;
  background-color: $black;
  font-family: monospace;
  color: white;
  margin-left: 20vmin;
  margin-right: 20vmin;
  padding-top: 0px;
  margin-top: 0px;
  #background {
    background-color: black;
  }
}

body{
  padding: 0px;
  margin: 0px;
}

div{
  font-size: 12pt;
}

#background{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
  margin: 0px;
  padding: 0px;
}