<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <div class="row mb-2">
                <div class="collapse show" id="collapse-news">
                    <div class="card-deck">

                        <div class="card shadow-sm">
                            <div class="card-header py-0 px-0 rounded">
                                <img src="{{ nyt_us.img_small }}" class="card-img-top card-img-top-news"
                                     alt="Image Lost">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ nyt_us.title }}</h5>
                                <p class="card-text"><small class="text-muted">{{ nyt_us.abstract }}</small></p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{{ nyt_us.url }}" class="btn-link">NYT</a>
                            </div>
                        </div>

                        <div class="card shadow-sm">
                            <div class="card-header py-0 px-0">
                                <img src="{{ nyt_us2.img_small }}" class="card-img-top card-img-top-news"
                                     alt="Image Lost">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ nyt_us2.title }}</h5>
                                <p class="card-text"><small class="text-muted">{{ nyt_us2.abstract }}</small></p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{{ nyt_us2.url }}" class="btn-link">NYT</a>
                            </div>
                        </div>

                        <div class="card shadow-sm">
                            <div class="card-header py-0 px-0">
                                <img src="{{ nyt_us3.img_small }}" class="card-img-top card-img-top-news"
                                     alt="Image Lost">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ nyt_us3.title }}</h5>
                                <p class="card-text"><small class="text-muted">{{ nyt_us3.abstract }}</small></p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{{ nyt_us3.url }}" class="btn-link">NYT</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


</body>
</html>