<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>
            <img src="{{ nyt_us.img_small }}" alt="Image Lost" style="width: 200px">
            <h5>{{ nyt_us.title }}</h5>
            <p ><small>{{ nyt_us.abstract }}</small></p>
            <a href="{{ nyt_us.url }}">NYT</a>
        </div>
        <div>
            <img src="{{ nyt_us2.img_small }}" alt="Image Lost" style="width: 200px">
            <h5>{{ nyt_us2.title }}</h5>
            <p ><small>{{ nyt_us2.abstract }}</small></p>
            <a href="{{ nyt_us2.url }}">NYT</a>
        </div>
        <div>
            <img src="{{ nyt_us3.img_small }}" alt="Image Lost" style="width: 200px">
            <h5>{{ nyt_us3.title }}</h5>
            <p ><small>{{ nyt_us3.abstract }}</small></p>
            <a href="{{ nyt_us3.url }}">NYT</a>
        </div>
        <div>
            <img src="{{ nyt_us4.img_small }}" alt="Image Lost" style="width: 200px">
            <h5>{{ nyt_us4.title }}</h5>
            <p ><small>{{ nyt_us4.abstract }}</small></p>
            <a href="{{ nyt_us4.url }}">NYT</a>
        </div>
    </div>


</body>
</html>