body {
    background-color: #3F3F3F;
}

h1{
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    margin: auto;
}

.line-break{
    width:100%
}