#reply-container {
    margin-left: 20px;
}

.post {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: -1px;
    position: relative;
}

.post:hover {
    background-color: rgb(200, 200, 220);
}

.reply-post {
    border-top-style: hidden;
}

.author-date {
    color: white;
    background-color: #001FBC;
    width: 100%;
    padding: 2px;
    padding-right: 0px;
    margin: 0px;
}

.text {
    margin-left: 10px;
    margin-right: 10px;
}

#header {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    background-color: black;
    padding: 2px;
    align-self: flex-start;
    width: 100%;
}

a {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    width: 1000px;
}

#page-selector a {
    color: black;
}