{% extends "blog/base.html" %}
{% block content %}
    What chat room would you like to enter?<br>
    <label for="room-name-input"></label><input style="margin: 10px 0 0 0" id="room-name-input" type="text" size="50"><br>
    <input style="margin: 10px 0 0 0" id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = `/chat/${roomName}/`;
        };
    </script>
{% endblock content %}
