{% extends "blog/base.html" %}
{% block content %}
    <div class="col-lg-15">
        <div class="card card-tertiary">
            <div class="card-header">
                <span class="icon icon-xs w95-folder"></span>
                <span class="ml-2">Chatroom "{{ room_name }}"</span>
            </div>
            <div class="card-body">
                <p class="card-text">
                <label for="chat-log"></label><textarea id="chat-log" cols="100" rows="20"></textarea><br>
                <label for="chat-message-input"></label><input id="chat-message-input" type="text" size="100"><br>
                <div class="d-flex mt-3">
                    <input class="btn btn-sm mr-2 btn-primary border-dark" id="chat-message-submit" type="button" value="Send">
                </div>
                </p>
            </div>
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    {{ room_member_id|json_script:"room_member_id" }}
    {{ older_messages_text|json_script:"older_messages_text" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const roomMemberId = JSON.parse(document.getElementById("room_member_id").textContent);
        const olderMessagesText = JSON.parse(document.getElementById("older_messages_text").textContent);2
        document.querySelector("#chat-log").value = olderMessagesText.trim().length > 0 ? olderMessagesText + "\n" : '';

        const chatSocket = new WebSocket(
            `ws://${window.location.host}/ws/chat/${roomName}/`
        );

        chatSocket.onmessage = function (e) {
            const {username, text} = JSON.parse(e.data);
            document.querySelector("#chat-log").value += `${username}: ${text}` + "\n";
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            // TODO: Limit the size of the message text to respect that of Message model
            const text = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'text': text,
                'room_member_id': roomMemberId,
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock content %}
