{%extends 'base.html'%}
{%block content%}
<title>Coding Arena - About</title>
<head>
    <div class="m-5 text-center">
        <h1>- About Coding Arena -</h1>

    </div>
</head>
<body>

    <div class = "m-5 text-center">

        <h2>Coding Arena is an online coding battle where two users <br /> compete to finish a python coding problem the fastest <br /> in a limited timeframe.</h2>
        <br>
        <br>
        <h2>Coding Arena was written with Django, Django Channels,<br /> Python and HTML5. Our group also used Docker, which was <br />used to run the user's code.
        <br>
        <br>
        <br>
        <h2>Our group also implemented a chat room in the main <br /> "competiton page", in which users can talk to each other<br /> while they brawl.</h2>
    </div>

</body>
{%endblock content%}
