{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <title>TeaBay</title>
</head>

<body>
    {% include 'partials/header.html' %}
    <div class="body-content">
        {% if messages %}
        {% for message in messages %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>