{% extends 'core/base.html' %}
{% block content %}
{{ object.user }}
<br>
{{ object.description }}

<h2>Inventory</h2>
{% for record in inventory %}
<li>
{% if record.listing__id %}
    {{ record }}
{% else %}
    {{ record }}
    <a href="{% url 'listing-create' item_id=record.id %}" class="btn">List Item</a>
{% endif %}
</li>
{% endfor %}

<h2>Listing</h2>
{% for listing in listings %}
<li>{{ listing }}</li>
{% endfor %}

<h2>Reviews</h2>
{% for review in reviews %}
<li>{{ review }}</li>
{% endfor %}
{% endblock %}