<h2 class="title">Newest Trades</h2>
<table style="border-spacing: 10px 0;">
    <tr class="rows">
        <td class="head m">From</td>
        <td class="head m">To</td>
        <td class="head m">Item</td>
        <td class="head m">Quantity</td>
    </tr>
    {% for t in trades %}
    {% with item=t.listing.item %}
    <tr class="rows">
        <td class="item m">{{ item.owner.user.get_username }}</td>
        <td class="item m">{{ t.buyer.user.get_username }}</td>
        <td class="item m">{{ item.product.name }}</td>
        <td class="item m">
            {{ item.quantity }}
            {% if item.quantity_type == "G" %}
                grams
            {% elif item.quantity_type == "K" %}
                kilograms
            {% endif %}
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
</table>
