<h2 class="title">Newest Listings</h2>
<table style="border-spacing: 10px 0;">
    <tr class="row">
        <td class="head mr-5">Owner</td>
        <td class="head mr-5">Item</td>
        <td class="head mr-5">Quantity</td>
        <td class="head mr-5">Cost (per unit)</td>
    </tr>
    {% for ls in listings %}
    {% with item=ls.item %}
    <tr class="row">
        <td class="item mr-5">{{ item.owner.user.get_username }}</td>
        <td class="item mr-5">{{ item.product.name }}</td>
        <td class="item mr-5">
            {{ item.quantity }}
            {% if item.quantity_type == "G" %}
                grams
            {% elif item.quantity_type == "K" %}
                kilograms
            {% endif %}
        </td>
        <td>
            {% if ls.silver_price %}
                {{ ls.silver_price }} Silver |
            {% endif %}
            {% if ls.barter_product %}
                {% with ls.barter_product as bp %}
                {{ bp.name }}
                ( {{ ls.barter_product_quantity }}
                {% if bp.quantity_type == "G" %}
                    grams
                {% elif bp.quantity_type == "K" %}
                    kilograms
                {% endif %}
                {% endwith %}
                ) |
            {% endif %}
            {% if ls.allow_offers %}
                Allowing offers
            {% else %}
                No offers
            {% endif %}
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
</table>
