<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wired {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        {% block extra_heads %}{% endblock %}
    <body>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
        {% include 'components/header.html' %}
        {% include 'components/nav_bar.html' %}
        {% block content %}{% endblock %}
    </body>
    {% block footer %}
    {% endblock %}
</html>
