<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafia Gaem</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="gaem" width=600 height=600 style="border: 1px solid black;"></canvas>
            </div>
            <div class="col-4">
                This is somthing
            </div>
        </div>
    </div>
</body>

</html>