{% extends "posts/base.html" %}

{% load static %}

{% block extrahead %}
{% endblock %}

{% block title %}Crash Landing!{% endblock %}

{% block body %}
    <div class="body-div full-width">
        Crash Landing!
        <br>
        <table><tbody>
            <tr>
                <td><table><tbody>
                    <tr>
                        <td></td>
                        <td><a href="?command=moveN" class="old-button"><button>N</button></a></td>
                        <td></td>
                    </tr><tr>
                        <td><a href="?command=moveW" class="old-button"><button>W</button></a></td>
                        <td>{{ rover }}</td>
                        <td><a href="?command=moveE" class="old-button"><button>E</button></a></td>
                    </tr><tr>
                        <td></td>
                        <td><a href="?command=moveS" class="old-button"><button>S</button></a></td>
                        <td></td>
                    </tr>
                </tbody></table></td>
                <td>
                    <table><tbody>
                        <tr><td>
                            <div>Command history</div>
                        </td></tr>
                        <tr><td>
                            <form action = "/game/" method = "post" >{% csrf_token %}<input type="text" name="command" maxlength="16"></form>
                        </td></tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
    </div>
{% endblock %}
