{% extends 'main/main-base.html' %} 
{% block herocontent %}
    <div class="hero-body">
    
        <div class="container grid">
            <div class="box">
                <article class="media notification">
                    <figure class="media-left image is-128x128">
                    <!--profile picture here?-->
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                    <div class="media-content">
                    <div class="content">
                        <h2 class="title">{{ user.username }}</h2>
                        <p class="subtitle">{{ user.email }}</p>
                    </div>
                    </div>
                </article>
                <!-- Update Profile Form Here -->

            <!-- User Background -->
            <div>
                upload background image
            </div>
            <!-- Next feature -->
            </div>
        </div>
    </div>
{% endblock herocontent %}