<td>
  <div class='w3-container w3-white w3-margin' style='float: right;'>  
  <form method='POST'>
    {% csrf_token %}
    <input placeholder='Search' name='query' id='query'></input>
    <button class="w3-button w3-green w3-padding" type='submit'>Search</button><br>
  </form>

  <button class="w3-button w3-block w3-green w3-section w3-padding"><a href='{% url "create_post" %}?next={{request.path}}'>Create Post</a></button>
  {% if topic %}
    <h1><a href="/topic/{{topic.name}}">{{topic.name}}</a></h1>
  {% endif %}

  </div>
</td>
