<!-- 
Guestbook html taken from here 

http://www.maplecity.com/homepage/guest.html

 -->

<html>
<body bgcolor=8888FF>
<h2> Guestbook</h2>


<hr>
<form action = "/test" method = "post" >{% csrf_token %}
<input type=hidden name=fields value="Name,Email,Comments">
Name: <input type=text name=Name><br>
Email Address: <input type=text name=Email><br>
Comments: <br><textarea name=Comments rows=5 cols=60>
</textarea><br>
<input type=submit value="Submit">
</form>
<hr noshade>

<!--GUESTBOOK-OPTIONS: maxEntries=10-->
<!--GUESTBOOK-->
<!--GUESTBOOK-->

<hr noshade>

</body>
</html>