{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}BullFrog Mail{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mail/main.css' %}">
    {% block script %}
    {% endblock %}
</head>

<body>

    {% if user.is_authenticated %}
    <div class="sidenav">
        <a href="javascript:void(0)" id="inbox" >Inbox</a>
        <a href="javascript:void(0)" id="compose" >Compose</a>
        <a href="javascript:void(0)" id="sent" >Sent</a>
        <a href="javascript:void(0)" id="archived" >Archived</a>
        <br><br><br>
        <a href="{% url 'logout' %}" style="font-size: 20px; color: #282baa;"">Log Out</a>
    </div>
    {% endif %}

    <div class="container">

        <h1 id="product-title"><img class="" src="{% static 'mail/main.png' %}" alt="logo">Bullfrog Mail</h1>

    </div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <div class="footer mt-3">
        &copy; Bouncy Bullfrogs 1999 <a href="#">Check us out</a>


    </div>
</body>

</html>
