{% extends 'layout.html' %}

{% block content%}
    <h1> Welcome {{ request.user }}</h1>
<a href="{% url 'logout' %}">Logout</a><br>
<a href="{% url 'upload' %}">upload a file</a><br>
<h1>Files Uploaded</h1>
{% for record in file %}
  <h2>{{record.title}}</h2>
  <h3>{{record.uploaded_at}}</h3>
    {% endfor %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
