{% extends "layout.html" %}

{% block content %}

<div class="window-center">
  <div class="window">
    <div class="title-bar">
    <div class="title-bar-text">Funky Flamingos</div>
    <div class="title-bar-controls">
      <a href="{% url 'index' %}"><button aria-label="Close"></button></a>
    </div>
    </div>
    <div class="window-body">
      <h4>Welcome To Funky Flamingos' VCS</h4>

      <!-- <a href="{% url 'login' %}">Login</a><br>
      <a href="{% url 'register' %}">Register</a><br> -->
      {% if user.is_authenticated %}
        <div><a href="{% url 'dashboard' %}"><button class="btn-my-1">Continue to dashboard</button></a></div>
      {% else %}
        <div class="btn-row">
          <div><a href="{% url 'login' %}"><button class="btn-my-1">Login</button></a></div>
          <div><a href="{% url 'register' %}"><button class="btn-my-1">Register</button></a></div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content%}
