{% extends 'layout.html' %}

{% block content%}

<div class="window-center">
  <div class="window" style="width: 300px">
    <div class="title-bar">
      <div class="title-bar-text">Hey {{ request.user }}!, Want to upload a new file?</div>
      <div class="title-bar-controls">
        <a href="{% url 'dashboard' %}"><button aria-label="Close"></button></a>
      </div>
    </div>
    <div class="window-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit">Upload file</button>
      </form>
    </div>
  </div>
</div>


  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
