<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bulma CSS -->
    {% load django_simple_bulma %}
    {% bulma %}
    {% load static %}

    <title>Main Base Template</title>
    <style>

.grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 624px) 1fr
}

.grid * { grid-column: 2/3; }

fieldset {
    margin: 1rem 0;
}

.errorlist {
    color: red;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-background.is-transparent {
  opacity: 0.5;
}

    </style>
</head>
<body>
    <header>
        <!-- Navbar in here-->
        <nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">DASHBOARD LOGO HERE</a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="right_nav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        <!--Right side nav bar-->
            <div id="right_nav" class="navbar-menu">
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'profile' %}">Profile</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="navbar-item" href="{% url 'login' %}">Login</a>
                    <a class="navbar-item" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <div class="hero is-fullheight is-light has-background">
        {% if user.is_authenticated and not_default_background %}
            <img class="hero-background" src="{{ background.url }}" alt="User Background failed to load" />
        {% else %}
            <img class="hero-background" src="{% static 'images/sunrise.jpg' %}" alt="Sunrise Over Mountains" />
        {% endif %}

        {% if '/login/' not in request.path %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-{{ message.tags }} is-light">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% block herocontent %}
            
        {% endblock herocontent %}
    </div>
    <section class="section">
        
        <!-- this is the main base template -->
        {% if '/login/' in request.path %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-{{ message.tags }} is-light">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    
    {% block content %}
        <h1>this is the main base template</h1>
        <a href="{% url 'background-home' %}">background homepage</a>
    {% endblock content%}
    </section>
</body>
</html>