{% extends "base.html" %}
{% block content %}

  <div class="row justify-content-md-center">
    <div class="parchment-border col-md-auto bulletin-title">
        <h1 class="justify-content-center bulletin-title">Trivia quiz packs</h1>
    </div>
  </div>


{% for quiz in quizzes %}
    <article class="media parchment-border">
      <img class="rounded-circle article-img" src="{{ quiz.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
        </div>
        <h2>
            <a class="article-title" href="{% url 'quiz-detail' quiz.id %}">{{ quiz.name }}</a> by
            <a class="article-metadata" href="{% url 'user' quiz.author.username %}">{{ quiz.author }}</a>
        </h2>
        <p class="article-content">Trivia pack description: {{ quiz.description }}</p>
        <p class="article-content">Number of questions: {{ quiz.triviaquestion_set.count }}</p>
      </div>
    </article>
{% empty %}

<div class="row">
    <div class="col-md-12 parchment-border">
        <h1 class="justify-content-center">No trivia packs exists, <br>
            <a href="{% url 'quiz-create' %}">create new one?</a>
        </h1>
    </div>
  </div>
{% endfor %}
{% if is_paginated %}

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}
{% endblock content %}