{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="parchment-border">
       <form method="post">
            {% csrf_token %}

            {{ quiz_form|crispy }}

            {{ question_formset.management_form }}
            {% for question_form in question_formset %}
                <hr>
                <div class="panel panel-default question-formset">
                    {{ question_form|crispy }}
                </div>
            {% endfor %}
            <input type="submit" class="stamp is-approved" value="Create Quiz"/>
        </form>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'jquery.formset.js' %}"></script>
        <script>
            $('.question-formset').formset({
                addText: 'add new question',
                deleteText: 'remove question'
            });
        </script>
    </div>
{% endblock content %}
<!--modeled from https://whoisnicoleharris.com/2015/01/06/implementing-django-formsets.html-->
