{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load settings_tag %}

{% block content %}
  <div class="row">
      <div class="col-md-8"><h1>Trivia Name: {{ quiz.name }}</h1></div>
      <div class="col-md-2">
        <form method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-outline-primary" value="Run Quiz">
        </form>
      </div>
      <div class="col-md-2">
        <form action="{% url 'quiz-delete' quiz.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-outline-danger" value="Delete Quiz">
        </form>
      </div>
  </div>

  <p><strong>Author:</strong> <a href="">{{ quiz.author }}</a></p>
  <p><strong>created on:</strong> {{ quiz.date_posted }}</p>
  <p><strong>number of questions:</strong> {{ quiz.triviaquestion_set.count }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Questions</h4>

    {% for question in quiz.triviaquestion_set.all %}
      <hr>
      <p><strong>questions:</strong> {{ question.question_text }}</p>
      <p><strong>answer:</strong> {{ question.question_answer }}</p>
    {% endfor %}
  </div>
  <p>To start this quiz, text START/{{ quiz.pk }} to {% settings_value "HOST_TWILIO_NUMBER" %} </p>
{% endblock %}
<!--modeled from https://whoisnicoleharris.com/2015/01/06/implementing-django-formsets.html-->
