{% extends 'main/main-base.html' %}

{% block content%}
<div>
    <h2>Morning spirit</h2>
    <section>
        <p>Play music (maybe integrate spotify)</p>
    </section>
    <section>
        <a href="{% url 'add-music' %}">add music</a>
        <h1>Music_player</h1>
        {% for song in song_list %}
            <h2>bruh</h2>
            <img src="{{ song.pk }}" alt="No file">
            <!-- <form action="{% url 'music-delete' song.music_musicfile.url %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="delete">
            </form> -->
        {% endfor %}
    </section>
</div>
{% endblock content %}