{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Earls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <header class="mb-5">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand nav-link {% if active_page == "home" %}active{% endif %}" href="/">Earls</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "browse" %}active{% endif %}" href="/earls/">Browse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "calendar" %}active{% endif %}" href="/calendar/">Calendar</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "chat" %}active{% endif %}" href="/chat/">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "profile" %}active{% endif %}" href="/account/profile/">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/logout/">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "login" %}active{% endif %}" href="/account/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "signup" %}active{% endif %}" href="/account/register">Signup</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
      </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    <footer class="mt-5 text-center">
        <div class="inner">
            <p>Designed and built by the Fancy Falcons team. Code licensed MIT, content CC BY 3.0.</p>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% block js %}
{% endblock %}
</body>
</html>
