{% extends "myplace/base.html" %}
{% block content %}
    <h1>👩‍💻 Welcome to MyPlace! 👨‍💻</h1>
    <h3>Your very own online space to express yourself and make new friends.</h3>
    <br/>
    <h4><a href="{% url 'users' %}">Take a look at our newest users</a> – why not drop by on their profiles and say hi?</h4>
    <br/>
    <h4>You can also...</h4>
    <h4><a href="http://127.0.0.1:8000/chat/">Chat with others</a> 💬</h4>
    <h4><a href="{% url 'user-profile' username_or_id=user.id %}">View your own profile</a> 👓</h4>
    <h4><a href="{% url 'user-settings' %}">Edit your profile page</a> 🎨</h4>
    <h4><a href="{% url 'user-blog' username_or_id=user.id %}">Post to your blog</a> 📝</h4>
{% endblock content %}
