{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{% url "home" %}">
            <img src="{% static "TeaBaySmall.png" %}" style="height: 100px; width: 100px;">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {% include 'widgets/searchbar.html' %}
            {% if request.user.is_authenticated %}
            <a class="navbar-item" href="{% url "dashboard" %}">My Dashboard</a>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if request.user.is_authenticated %}
                <a class="navbar-item" href="{% url "dashboard" %}">
                    <h2>Hello {{request.user.first_name }}</h2>
                </a>
                <a href="{% url "logout" %}">Sign Out</a>
                {% else %}
                <p>
                    <a href="{% url "login" %}">Sign In</a> or <a href="{% url "register" %}">Register</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</nav>