<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        {% block head %}
            {{ block.super }}
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
                {{ block.super }}
            {% endblock %}
        </div>
            {% block content %}
                {{ block.super }}
            {% endblock %}
    </body>
</html>