{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="content-section">
    <div class="media mb-5">
        <img class="account-img img-fluid mr-4" height="100" width="100" src="{{ user.image.url }}"/>
        <div class="media-body">
            <h2 class="account-heading">{{ user }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock content %}
