{% extends "base.html" %}

{% block content %}
    <div class="col-lg-10 post-container nopadding">
        <div class="community-bar">
            <h3>r/Tortoise-Community</h3>
            <p>This is sample post paragraph Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies.</p>
            <div class="community-links">
                <a href="#" class="active">popular</a>
                <a href="#">community-chat</a>
                <a href="#">my-posts</a>
            </div>
        </div>
        <br><br>
        <div class="chat-box">

        </div>
    </div>
{% endblock %}