{% extends "base.html" %}

{% block content %}
    <div class="col-lg-9">
        <div class="posts">
            <a href="#"><h1><b>r/{{community.name}}</b></h1></a>
            <p> - {{community.description}}</p>
            <p>created by /u {{community.owner}}, <span style="color:grey;"> has {{community.subscribers.count}} subscribers</span></p>
            <p>location - {{community.location}}</p>
        </div>
        <div class="posts"><h4><b>Recent posts of {{community.name}} community</b></h4></div>
        {% for post in posts %}
            <div class="comment">
                <a href="{{post.id}}"><h5>{{post.title}}<span style="color:grey;"> by {{post.author}} on {{post.creation_date}}</span></h5></a>
                <p>{{post.description}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}