{% extends "base.html" %}

{% block content %}
    <div class="col-lg-9">
        <div class="community-bar">
            <a href="#"><h1><b>c/{{community.name}}</b></h1></a>
            <p> - {{community.description}}</p>
            <p>created by /u <a href="/user/{{community.owner}}/posts">{{community.owner}}</a>, <span style="color:grey;"> has {{community.subscribers.count}} subscribers</span></p>
            <p>location - {{community.location}}</p>
        </div>
        <div class="posts"><h4><b>Recent posts of {{community.name}} community</b></h4></div>
        {% for post in posts %}
            <div class="comment">
                <h5><a href="{{post.id}}">{{post.title}}</a><span style="color:grey;"> by <a href="/user/{{post.author}}/posts">{{post.author}}</a> on {{post.creation_date}}</span></h5>
                <p>{{post.description}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}