{% extends "base.html" %}

{% block content %}
  <div class="col-lg-9">
      <div class="community-bar"><h3>Most Viewed posts</h3></div>
        {% for post in object_list %}
          <div class="posts">
            <a href="/community/{{post.publisher}}"><b>c/{{post.publisher}}</b></a>
            <p>submitted on {{post.creation_date}} has {{post.views.count}} views</p>
            <a href="/community/{{post.publisher}}/{{post.id}}"><h3>{{post.title}}</h3></a>
            <p>{{post.get_short_intro}}</p>
          </div>
        {% endfor %}
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
   </div>
    </div>
{% endblock %}