{% extends "base.html" %}

{% block content %}
  <div class="col-lg-9">
      <div class="posts">
        <a href="/community/{{post.publisher}}"><b>r/{{post.publisher}}</b></a>
          <p>submitted by /u <a href="/user/{{post.author}}/posts">{{post.author}}</a> on {{post.creation_date}}</p>
        <a href="#"><h3>{{post.title}}</h3></a>
        <p>{{post.description}}</p>
      </div>

      <form action="comment" method="POST">{% csrf_token %}
        <input id="content" type="text" name="content" placeholder="Type comment" autocomplete="off">
        <input type="submit" value="Add comment">
      </form>

      {% for comment in comments %}
        <div class="comment">
          <h5><a href="/user/{{comment.author}}/posts">{{comment.author}}</a><span style="color:grey;"> on {{comment.creation_date}}</span></h5>
          <p>{{comment.content}}</p>
        </div>
      {% endfor %}
  </div>
{% endblock %}