{% extends "base.html" %}

{% block content %}
  <div class="col-lg-9">
      <div class="posts">
        <a href="/c/{{post.publisher}}"><b>r/{{post.publisher}}</b></a>
        <p>submitted by /u {{post.author}} on {{post.creation_date}}</p>
        <a href="#"><h3>{{post.title}}</h3></a>
        <p>{{post.description}}</p>
      </div>

      <form action="./{{ post.id }}/comment" method="POST">{% csrf_token %}
        <input id="content" type="text" name="content" placeholder="Type comment" autocomplete="off">
        <input type="submit" value="Add comment">
      </form>

      {% for comment in comments %}
        <div class="comment">
          <a href="#"><h5>{{comment.author}}<span style="color:grey;"> on {{comment.creation_date}}</span></h5></a>
          <p>{{comment.content}}</p>
        </div>
      {% endfor %}
  </div>
{% endblock %}