<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSS it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <header>
    <h1>RSS it</h1>
    <div class="headerlinks">
      <a href="#">popular</a>
      <a href="#">top-communities</a>
      <a href="#">most-viewed</a>
      <a href="#">location</a>
      <a href="#">subscribed</a>
      <a href="#">most-viewed</a>
      <a href="#">my-communities</a>
      <a href="#">my-posts</a>
    </div>
  </header>

  <body>
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-10">
          <div class="posts">
           <p><b>r/Publisher<b></p>
           <p>submitted by /u username</p> 
           <a href="#"><h3>Knock Knock, Who's there? Bite-sized-bears....</h3></a>
           <p>This is sample post paragraph Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies. </p>
          </div>  
          <div class="comment">
           <h5>comment by<a href="#"> /u user</h5></a>
           <p>This is sample post paragraph</p>
          </div>
          <div class="comment">
           <a href="#"><h5>This is post title</h5></a>
           <p>This is sample post paragraph</p>
          </div>
          <div class="comment">
           <a href="#"><h5>This is post title</h5></a>
           <p>This is sample post paragraph</p>
          </div>                    
        </div>

        <div class="col-sm-2 nopadding visible-lg">
         <div class="login">
           <h3>Login</h3>
          <form>
            <table>
              <tr>
               <td>  
                <label>Username:  </label>
               </td>
               <td>
                <input type="text" name="username">
               </td>
              </tr>  
              <tr>
               <td>  
                <label>Password:  </label>
               </td>
               <td>
                <input type="password" name="password">
               </td>
              </tr> 
              <tr class="spacer"></tr>
              <tr>
                <td>
                  <input type="submit" value="submit">
                </td>
                <td>
                  <input type="reset" value="reset">
                </td>
              </tr>    
            </table><br>
              <p>New here? <a href="#">Sign up</a>
          </form>
  
         </div>   
        
         <div class="online-users">
            <div class="block-header"><h5>Online Users</h5></div>
            <div class="user">Username</div>
         </div>   
        </div>

      </div>
    </div>
  </body>
</html>