{% extends "base.html" %}

{% block content %}
  <div class="col-lg-9">
      <div class="posts"><h1><b>Top communities of RSSit</b></h1></div>
      {% for community in communities %}
        <div class="posts">
          <a href="/community/{{community.name}}"><h3><b>r/{{community.name}}</b></h3></a>
          <p> - {{community.description}}</p>
          <p>created by /u {{community.owner}}, <span style="color:grey;"> has {{community.subscribers.count}} subscribers</span></p>
        </div>
      {% endfor %}
  </div>
{% endblock %}