{% extends "morning/base.html" %}
{% load static %}

{% block content %}
<div class="navbar is-primary">
    <div class="navbar-brand">
        <img src="{% static 'images/good_morning.png' %}" alt="Good-morning-logo">
    </div>
    <div class="navbar-brand">
        <h1>Good morning!</h1>
        <h3>It's gonna be another beatiful day</h3>
        <h3>brace yourself and make wonderfull things!</h3> 
    </div>
    <div class="navbar-end">

            {% if user.is_authenticated %}
            <div class="navbar-item"><a href="#">Log Out</a></div>
            
            {% else %}
            <div class="navbar-item"><a href="#">Log In</a></div>
        
            <div class="navbar-item"><a href="#">Register</a></div>
            {% endif %}

        

    </div>
</div>





{% endblock content %}