{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'first_google/css/style-main.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container section-vertical">
    <!--logo-->
    <div class="logo">
        <img id="logo-image" src="{% static 'first_google/image/old-google-logo.png' %}">
    </div>
    <!--search area-->
    <div class="search section-vertical">
        <div class="search-area section-vertical">
            <label for="search-box">Search the web using Google!</label>
            <input id="search-box" name="search_text" type="text">
        </div>
        <div class="search-buttons">
            <button onclick="googleSearch()" type="button">Google Search</button>
            <button type="button">I'm feeling lucky</button>
        </div>
    </div>
    <!--others-->
    <div class="others section-horizontal">
        <div class="special-search section-vertical">
            <div>Special Searches</div>
            <a href="" onclick="return false;">Stanford Search</a>
            <a href="" onclick="return false;">Linux Search</a>
        </div>
        <div class="helps section-vertical">
            <a href="" onclick="return false;">Help!</a>
            <a href="" onclick="return false;">About Google!</a>
            <a href="" onclick="return false;">Company Info</a>
            <a href="" onclick="return false;">Google! Logos</a>
        </div>
        <div class="subscribe section-vertical">
            <label for="email">Get Google! updates monthly:</label>
            <input id="email" type="text">
            <div class="section-horizontal">
                <button id="subscribe-button">Subscribe</button>
                <a href="" onclick="return false;">Archive</a>
            </div>
        </div>
    </div>
    <footer> Copyright &copy1998 Google Inc.</footer>
</div>
</body>
</html>