<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <!--logo-->
    <div class="logo"></div>
    <!--search area-->
    <div class="search">
        <div class="search-area">
            <label for="search-box">Search the web using Google!</label>
            <input id="search-box" type="text">
        </div>
        <div class="search-buttons">
            <button>Google Search</button>
            <button>I'm feeling lucky</button>
        </div>
    </div>
    <!--others-->
    <div class="others">
        <div class="special-searches">
            <div>Special Searches</div>
            <a href="">Stanford Search</a>
            <a href="">Linux Search</a>
        </div>
        <div class="helps">
            <a href="">Help!</a>
            <a href="">About Google!</a>
            <a href="">Company Info</a>
            <a href="">Google! Logos</a>
        </div>
        <div class="subscribe">
            <label for="email">Get Google! updates monthly:</label>
            <input id="email" type="text">
            <button>Subscribe</button>
            <a href="">Archive</a>
        </div>
    </div>
    <footer> Copyright &copy1998 Google Inc.</footer>
</div>
</body>
</html>