<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <title>{% block title %}The Arena{% endblock %}</title>
</head>
<body>
    <nav id="navbar">
        <a href="{% url 'index' %}" id="brand">The Arena</a>
        <a href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
            <a href="{# {% url 'dashboard' %} #}#">Dashboard</a>
            <a href="{% url 'pre_battle' %}">Battle</a>
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Log in</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>