{% extends "welcome_page/base.html" %}

{% load static %}

{% block extrahead %} <script src="/welcome.js"></script> {% endblock %}

{% block title %}Spacebook!{% endblock %}

{% block body %}


<div id="Frieda">
   <img src="static/images/beautiful-blue-stars-fill.jpg" alt="Spacebook">

</div>


<div class="center_screen">
    This page is under construction.
    <table>
      <tr>
        <th>Visitor #{{count}}</th>
        <th> <form><input type=submit value="mute" style="width:100%"></form> </th> 
      </tr>
      <tr>
        <th colspan="2"><form action='home/'><input type=submit value="Enter" style="width:100%"></form></th>
      </tr>
      <tr>
        <th style="border:none;" colspan="2"><h2>Welcome to Spacebook!</h2></th>
      </tr>
    </table>

    
</div>


{% endblock %}
