{% extends "welcome_page/base.html" %}

{% load static %}

{% block title %}Spacebook!{% endblock %}

{% block body %}


<div id="star_holder" class="center_screen">

</div>


<div id="button_holder" class="center_screen">
  <div class="button_zoom">
    <table class="button_zoom" style="width:100%">
      <tr class="button_zoom" style="width:100%">
        <th><button class="button_zoom" style="width:100%">Visitor #{{count}}</button></th>
        <th> <button class="button_zoom" style="width:100%"> Mute </button> </th> 
      </tr>
      <tr style="width:100%">
        <th colspan="2"><button class="button_zoom" onclick='pan_up()'style="width:100%"> Launch!</button></th>
      </tr>
      <t style="width:100%"r>
        <th style="border:none;" colspan="2"><h2>Welcome to Spacebook!</h2></th>
      </tr>
    </table>
  </div>
    
</div>


{% endblock %}
