{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="w3-row">
  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}
    <div id="login-form" class="w3-col w3-container m3 l4"></div>
    <div id="login-form" class="w3-col w3-container m5 l3">
      <div class="window">
        <h4>Log in</h4>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <br>
            <small style="color: #444">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          {% if form.errors %}
            <p class="error">Your username and password didn't match. Please try again.</p>
          {% endif %}
        
          <br>
          <button type="submit">Login</button>
          <br><br>
          <a href="{% url 'password_reset' %}" title="Click here to reset your password">Forgot Password?</a>
          <br><br>
          <a href="/signup" title="Go to the signup page">I don't have an account</a>
          <input type="hidden" name="next" value="{{ next }}" /> 
        </form>
        </div>
      </div>
    <div id="login-form" class="w3-col w3-container m4 l5"></div>
  </div>
  <style>
    .error {
      color: #db1616;
      text-shadow: 2px 2px 6px #aaa;
    }
    .window {
      padding-left: 4vw;
      padding-bottom: 3vh;
    }
  </style>
			
{% endblock content %}
