{% extends 'base.html' %}

{% block content %}

<div class="w3-row">
  <div class="w3-col w3-container m3 l2">
  	<img src="{{ of_user.profile.image.url }}">
  </div>
  <div class="w3-col w3-container m9 l10">
  	<h4>{{ of_user.username|capfirst }}</h4>
	  <p>Born: {{ of_user.profile.date_of_birth|date:"jS F, Y" }}</p>
	  <p id="gender"></p>
  </div>
<div>

<div style="float: left;">
<p>{{ of_user.profile.bio }}</p>

{% if of_user.username == user.username %}
<button><a href="{% url 'profile_edit' %}">Update Info</a></button>
{% endif %}

<h3>Posts ({{ num_posts }})</h3>

{% for post in posts %}
  <div class="w3-row" style="margin: 6px 0 6px 0;">
    <div class="w3-col w3-container m2 l1">
	    <img src="{{ post.posted_by.profile.image.url }}" class="post-profile-pic">
    </div>
    <div class="w3-col w3-container m10 l11">
			<span>
        <a href="{% url 'profile' post.posted_by.username %}">By: {{ post.posted_by}}</a>
				<small>On: {{ post.post_date_posted|date:"j F Y, h:i A" }}</small>
			</span>
				
      <p>{{ post.post_content }}</p>
    </div>
  </div>
  <hr>
{% endfor %}
</div>
<script>
  let gender = "{{ of_user.profile.gender}}"
  if(gender == 'M'){
    gender = 'Male'
  } else if(gender == 'F'){
    gender = 'Female'
  } else if(gender == 'O'){
    gender = 'Others'
  } else {
    gender = "Not specified"
  }
  document.getElementById("gender").innerHTML = "Gender: " + gender;
</script>
<style>
  .post-profile-pic {
    width: 64px;
    height: auto;
  }
  hr {
    border-top: 1px solid #555;
    margin-right: 20px;
  }
</style>
{% endblock content %}
