{% extends 'base.html' %}

{% block content %}
<img src="{{ of_user.profile.image.url }}">
<h3>{{ of_user.username }}</h3>
<p>Birthday: {{ of_user.profile.date_of_birth|date:"d F" }}</p>
<p>Gender: {{ of_user.profile.gender}}</p>
<p>{{ of_user.profile.bio }}</p>

{% if of_user.username == user.username %}
<button><a href="{% url 'profile_edit' %}">Update Info</a></button>
{% endif %}

<h2>Posts ({{ num_posts }})</h2>

<hr>
{% for post in posts %}

	<img src="{{ post.posted_by.profile.image.url }}">
			<p>
        <a href="{% url 'profile' post.posted_by.username %}">By: {{ post.posted_by}}</a>
				<small>On: {{ post.post_date_posted|date:"j F Y, H:i" }}</small>
			</p>
				
      <p>{{ post.post_content }}</p>


{% endfor %}

{% endblock content %}
