{% extends 'dashboard/base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/signup.css' %}">
{% endblock extra_css %}


{% block content %}
{% load custom_filters %}

<div class="nes-container with-title signup-form">
    <span class="title signup-form-title">Reset Password</span>

    <form method="post">
        {% csrf_token %}

        <div class="nes-field is-inline signup-input" align="center">
            <label>Email</label>
            <input name="email" class="nes-input" type="email" required="true">
        </div>

        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}

        <input class="nes-btn is-success" type="submit" value="Send Email">
    </form>
</div>

{% endblock content %}
