{% extends "myplace/base.html" %}
{% block content %}
<!-- views.user passes in a dict of all Profile variables as user_profile.
     This can be used via {{ user_profile.variable_name }} anywhere in this file. -->
    {% for k, v in user_profile.items %}
        <h1>
            {{ k }}: {{ v }}
        </h1>
        <br/>
        {% if k == 'audio_track' %}
            {% if user_profile.audio_track %}
                <audio src="{{ user_profile.audio_track.url }}" controls></audio>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if profile_comments %}
        <ul>
            {% for comment in profile_comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
