{% extends "myplace/base.html" %}
{% block content %}
<!-- views.user passes in a dict of all Profile variables as user_profile.
     This can be used via {{ user_profile.variable_name }} anywhere in this file. -->
    {% for k, v in user_profile.items %}
        <h1>
            {{ k }}: {{ v }}
        </h1>
        <br/>
        {% if k == 'audio_track' %}
            {% if user_profile.audio_track %}
                <audio src="{{ user_profile.audio_track.url }}" controls></audio>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="new-comment">
        {% if user.is_authenticated %}
            <div>Leave a comment.</div>
        {% else %}
            <div>Please login to leave a comment.</div>
        {% endif %}
    </div>

    <div class="comments">
    {% if profile_comments %}
        <table id="user-comments">
            {% for comment in profile_comments %}
            <tr>
                <td class="tableLeft">
                    <a href="#">
                        <div><b>{{ comment.user_profile.user.username }}</b></div>
                        <img src="{{ comment.user_profile.image.url }}" height = "200" width = "200"></a>
                </td>
                <td class="tableRight">
                    <div><b class="date">{{comment.creation_date}}</b></div>
                    <div><p>{{ comment.comment }}</p></div>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>No comments yet.</div>
    {% endif %}
    </div>

{% endblock content %}
