<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>GIF App</title>
        <link rel="stylesheet" type="text/css" href="{% static 'gifapp/css/draw.css'%}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="{% static 'gifapp/javascript/canvas.js' %}"></script>
    </head>
    <body>
        <div class="wrapper" id="project-name">
            <h6>{{name}}</h6>
        </div>
        <div class="wrapper">
            <div class="toolbar">
                <a href="#" id="clear" onclick="Clear()">
                    <img src="{% static 'gifapp/icons/clear.png' %}" alt="clear">
                </a>
                <a href="#" id="save" onclick="SaveImage()">
                    <img src="{% static 'gifapp/icons/save.png' %}" alt="save">
                </a>
                <a href="#" id="undo" onclick="Undo()">
                    <img src="{% static 'gifapp/icons/undo.png' %}" alt="undo">
                </a>
                <a href="#" id="eraser" onclick="ChangeTool('eraser')">
                    <img src="{% static 'gifapp/icons/eraser.png' %}" alt="erase">
                </a>
                <a class="selected" href="#" id="brush" onclick="ChangeTool('brush')">
                    <img src="{% static 'gifapp/icons/pencil.png' %}" alt="pencil">
                </a>
                <a href="#" id="line" onclick="ChangeTool('line')">
                    <img src="{% static 'gifapp/icons/line.png' %}" alt="line">
                </a>
                <a href="#" id="rectangle" onclick="ChangeTool('rectangle')">
                    <img src="{% static 'gifapp/icons/rectangle.png' %}" alt="rectangle">
                </a>
                <a href="#" id="ellipse" onclick="ChangeTool('ellipse')">
                    <img src="{% static 'gifapp/icons/ellipse.png' %}" alt="ellipse">
                </a>
                <a href="#" id="polygon" onclick="ChangeTool('polygon')">
                    <img src="{% static 'gifapp/icons/polygon.png' %}" alt="polygon">
                </a>
            </div>
            <div class="customizer">
                <div class="color">
                    <button id="frame-button">0</button>
                </div>
                <div class="color">
                    <button id="color-button"></button>
                </div>
                <div class="color">
                    <p>RED <span id="red_value"></span></p>
                    <input type="range" min="0" max="255" value="0" class="slider" id="redSlider">
                </div>
                <div class="color">
                    <p>GREEN <span id="green_value"></span></p>
                    <input type="range" min="0" max="255" value="0" class="slider" id="greenSlider">
                </div>
                <div class="color">
                    <p>BLUE <span id="blue_value"></span></p>
                    <input type="range" min="0" max="255" value="0" class="slider" id="blueSlider">
                </div>
                <div class="color">
                    <p>WIDTH <span id="width_value"></span></p>
                    <input type="range" min="2" max="20" value="2" class="slider" id="lineWidthSlider">
                </div>
                <div class="color">
                    <p>POLYGON<span id="polygon_value"></span></p>
                    <input type="range" min="3" max="10" value="3" class="slider" id="polygonSideSlider">
                </div>
                <script src="{%  static 'gifapp/javascript/slider.js' %}"></script>
            </div>
            <br>
            <canvas id="my-canvas" width="600" height="600"></canvas>
            <div class="w3-container">
                <form method = "post" enctype="multipart/form-data" class="w3-button w3-black">
                    {% csrf_token %}
                    <a onclick="SendData('save')" class="w3-button w3-black">Save To Server</a>
                </form>
                <form class="w3-button w3-black">
                    <a onclick="Previous()" class="w3-button w3-black">Previous</a>
                </form>
                <form class="w3-button w3-black">
                    <a onclick="Next()" class="w3-button w3-black">Next</a>
                </form>
                <form class="w3-button w3-black">
                    <a onclick="Delete()" class="w3-button w3-black">Delete Frame</a>
                </form>
                <form method = "get" enctype="multipart/form-data" class="w3-button w3-black">
                    {% csrf_token %}
                    <a onclick="RequestRender()" class="w3-button w3-black">Render</a>
                </form>
                <form class="w3-button w3-black">
                    <a href="{{ name }}/view" class="w3-button w3-black">View</a>
                </form>
            </div>
        </div>
    </body>
</html>