.wrapper {
	max-width: 1000px;
	margin: auto;
	font-family: "Arial"
}

.toolbar {
	width: 100%;
	background-color: #444;
	overflow: auto;
}

.toolbar a{
    float: left;
    width: ;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s
}

.toolbar a:hover{
    background-color: #000;
}

.selected{
    background-color: #000;
}

#my-canvas{
    width: 100%;
    border: 3px solid #000;
}

#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}

.toolbar a img{
    max-width: 100%;
    height: 100px;
}