<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>JavaScript Paint App</title>
        <link rel="stylesheet" type="text/css" href="draw.css">
        <script src="canvas.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="toolbar">
                <a class="selected" href="#" id="open" onclick="OpenImage()">
                    <img src="file-open.png">
                </a>
                <a href="#" id="save" onclick="SaveImage()">
                    <img src="save.png">
                </a>
                <a href="#" id="undo" onclick="Undo()">
                    <img src="undo.png">
                </a>
                <a href="#" id="eraser" onclick="ChangeTool('eraser')">
                    <img src="eraser.png">
                </a>
                <a href="#" id="brush" onclick="ChangeTool('brush')">
                    <img src="pencil.png">
                </a>
                <a href="#" id="line" onclick="ChangeTool('line')">
                    <img src="line.png">
                </a>
                <a href="#" id="rectangle" onclick="ChangeTool('rectangle')">
                    <img src="rectangle.png">
                </a>
                <a href="#" id="ellipse" onclick="ChangeTool('ellipse')">
                    <img src="ellipse.png">
                </a>
                <a href="#" id="polygon" onclick="ChangeTool('polygon')">
                    <img src="polygon.png">
                </a>
            </div>
            <div class="customizer">
                <div class="color">
                    <button id="color-button"></button>
                </div>
                <div class="color">
                    <p>RED <span id="red_value"></span></p>
                    <input type="range" min="0" max="255" value="0" class="slider" id="redSlider">
                </div>
                <div class="color">
                    <p>GREEN <span id="green_value"></span></p>
                    <input type="range" min="0" max="255" value="0" class="slider" id="greenSlider">
                </div>
                <div class="color">
                    <p>BLUE <span id="blue_value"></span></p>
                    <input type="range" min="0" max="255" value="0" class="slider" id="blueSlider">
                </div>
                <div class="color">
                    <p>WIDTH <span id="width_value"></span></p>
                    <input type="range" min="2" max="20" value="2" class="slider" id="lineWidthSlider">
                </div>
                <div class="color">
                    <p>POLYGON<span id="polygon_value"></span></p>
                    <input type="range" min="3" max="10" value="3" class="slider" id="polygonSideSlider">
                </div>
                <script src="slider.js"></script>
            </div>
            <br>
            <canvas id="my-canvas" width="600" height="600"></canvas>
            <div id="img-data-div">
                <a href="#" id="img-file" download="image.png">download image</a>
            </div>
        </div>
    </body>
</html>