{% extends 'albatrosses_hub/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'authentication/css/login.css' %}" />
{% endblock styles %}

{% block content %}
    <h1>Login to Albatrosses Hub</h1>
    <br>
    <div id="login-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button name="register" type="submit">Login</button>
        </form>
        {% if error_message %}
            <h5 style="color: red">{{ error_message }}<h5>
        {% endif %}
    </div>
{% endblock content %}