<!-- Form Component -->
{% load static  %}
<div style="margin-left:3%; margin-right:2%;">
    <form action="" method="POST" id="searchbar">
        {% csrf_token %}
        <div style="float:left;"><img src="{% static 'dashboard/img/mag_glass.png'  %}"></div>
        <div style="float:left; margin-left: 1%;"><input type="text" name="searchbar-query"  id ="search-query-field" placeholder="Search anything ..." class="nes-input" size="106.5"></div>
    </form>
</div>

<br><br>

<script>
 // change form action based on input value

 $('#searchbar').submit(function(){
     var q = $('#search-query-field').val();
     $(this).attr("action", q);
     console.log("Querying: " + q);

 })


</script>
