body {
  height: 100%;
  padding: 0;
}

.hero-banner {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 5rem;
}

.content-wrapper.center {
  justify-content: center;
}

.hero-banner img {
  height: 15rem;
  width: auto;
}

.hero-banner .hero-banner-text {
  display: flex;
  flex-flow: column;
}

.hero-banner .hero-banner-text span {
  font-size: 5rem;
  text-align: right;
}

.text-input {
  font-size: 1.5rem;
  border: none;
  background: none;
  color: white;
  padding: 3px 5px;
  outline: none;
  border-bottom: 1px solid #cacaca;
}

form button[type="submit"] {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 3px 7px;
  background: green;
  transition: background-color 0.15s;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background: rgb(13, 168, 13);
}
