{% extends 'albatrosses_hub/base.html' %}
{% block content %}
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/forums">Forums</a>
    </li>
    {% block forumheader %}
    {% endblock forumheader %}
  </ol>
</div>

{% block forumcontent %}

{% endblock forumcontent %}

{% if is_paginated %}
  <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
{% endif %}

{% endblock content %}
