{% extends "forums/base.html" %}

{% block forumheader %}
    <li class="breadcrumb-item">
        <a href="/forums/{{ object.post.board.name }}">{{ object.post.board.name }}</a>
    </li>
        <li class="breadcrumb-item active">
        <a href="/forums/{{ object.post.board.name }}/{{ object.post.pk }}">s{{ object.post.subject }}</a>
    </li>
{% endblock forumheader %}

{% block forumcontent %}
    <div class ="content-section">
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock forumcontent %}
