{% extends "forums/base.html" %}

{% load static %}

{% block forumheader %}
<li class="breadcrumb-item active">
    <a href="/forums/user/{{ view.kwargs.username }}">{{ view.kwargs.username }}</a>
</li>
{% endblock forumheader %}

{% block forumcontent %}
  <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>
  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'forums:user-posts' post.created_by.username %}">@{{ post.created_by }}</a>
          <small class="text-muted">Created on: {{ post.created_at }}</small>
        </div>
        <h2><a class="article-title" href="/forums/{{ post.board.name }}/{{ post.id }}">{{ post.subject }}</a></h2>
        <p class="article-content">{{ post.message }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock forumcontent %}
