body {
  background-color: #208c71;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CCC;
  border-width: 3px;
  border-style: none none inset inset;
  border-color: #111;
  display: block;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-width: 3px;
  border-style: outset;
  background: #CCC;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: aquamarine;
}

input[type=text],
select,
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[id=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.disk-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  place-items: center;
}

.disk-container img {
  display: block;
  position: relative;
  left: 50px;
}


.login-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-column-gap: 50px;
  max-height: 100vh;
  height: 55vh;
}


#main {
  display: block;
  color: black;
  height: inherit;
  max-width: 100%;
  overflow: auto;
  border-width: 3px;
  border-style: outset inset inset outset;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  background: #CCC;
  padding: 1em;
  margin: 1em;

}

#cwindow {
  position: static;
  color: white;
  background: black;
  width: 85vw;
  height: 62vh;
}

#ctext {
  margin-top: auto;

}

.maintext {
  font-size: 30px;
  font-family: sans-serif;
}

.active {
  background-color: aquamarine;
}

.button {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;

}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.alert {
  padding: 20px;
  background-color: white;
  color: black;
  margin: 1em;
}

.xbutton {
  color: black;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.xbutton:hover {
  color: gray;
}

.disk-container button {
  border: 2px outset #bbb;
  background: inherit;
}

.disk-container button:hover {
  border: 2px inset #bbb;
}

.disk-container div {
  display: inline-block;
}

.disk-container label {
  display: block;
}
