{% extends "base.html" %}

{% block body %}

<style>
    div.p {
        max-width: 800px;
    }
</style>

<body>
    <h2 style="font-size: 60px;">About us</h2>
    <div class="p" style="font-size: 30px;">
        <p>Bouncy Bullfrogs is an American multinational technology company with headquarters in Python Discord. It develops, manufactures, licenses, supports, and sells computer software and related services. Its best known software products are the Bouncy Bullfrog Mail and Bouncy Bullfrog Search.</p>
        <br>
        <p>In 1999, it was the world's largest software maker by revenue. The word "Bouncy Bullfrog" is an ingenuine created by its pioneers. Bouncy Bullfrog is ranked No. 30 in the 1998 Fortune 500 rankings of the largest United States corporations by total revenue. It is considered one of the Big Five technology companies alongside Amazon, Apple, Google, and Facebook.</p>
        <br>
        <br>
        <p style="font-size: 30px">Developed by Zuck, Arhaan, Multi, FantasticHD, and nopeless</p>

    </div>
</body>


{% endblock %}
