<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.page_author }}'s blog</title>
    <style>
        * {
            font-family: 'Times New Roman', Times, serif;
        }

        #header {
            text-align: center;
        }

        #post-container {
            padding: 1% 10%;
        }

        .post {
            text-align: left;
            background-color: pink;
            padding: 1% 2%;
            margin: 3%;
        }
    </style>
</head>
<body>
    <div id="header">
        <h1>welcome to {{ page.page_author }}'s blog!</h1>
        <p>{{ page.blog_introduction }}</p>
    </div>

    <div id="post-container">
        {% for post in page.blog_posts.all %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <p style="background-color: coral;">{{ post.content }}</p>
        </div>
        {% endfor %}
    </div>

</body>
</html>