{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.page_title }}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <style>

  </style>

</head>

<h1>Welcome to SpydirWeb!</h1>
<p>The new way to surf the web.</p>
<img src="{% static 'spydir\img\coollogo.gif' %}" alt="Gif">
<img src="{% static 'spydir\img\websurf.gif' %}" alt="Gif">

<body>
  <script src="js/scripts.js"></script>
</body>
</html>