{% load static %}
{% load generator_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>All About {{ page.tab_description }}</title>
    <style>
        * {
            font-family: 'Times New Roman', Times, serif;
        }

        .container{
            text-align: center;
        }

        .content {
            margin: 0 10%;
            text-align: left;
        }

    </style>
</head>

<body>
    <header>
        <div class="container">
            <h1>All About {{ page.page_title }}</h1>
            <h3>Welcome to my crazy new website about {{ page.page_title }}!</h3>
            <h6>By: {{ page.page_author }}</h6>
            <img src=''>
        </div>
    </header>

    <div class="content">
    {{ page.page_content|safe }}
    </div>

</body>
</html>