<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/98.css">
  <link rel="stylesheet" href="style_new.css">
  <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/f9cc65cae5.js" crossorigin="anonymous"></script>
  <title>RetroNet</title>
</head>

<body style="height: 100%;">
<div class="window-body" style="background-color: #dfdfdf; height: 100%;margin-left: 10px;margin-right: 10px;font-family:Pixelated MS Sans Serif;">
    <div class="text-area">
        <form action="home.html">
  <div class="container-window" >
    <p style="font-size: 30px;"><b>Login</b>
      <br>
      <hr style="display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;">
    <br>
      <span class="vertical-line">
      <p><b>Enter the following details</b></p>
    <br><br>
    <label for="username"><b>Username </b></label>
    <input type="text" size="30" placeholder="Enter Username" name="Username" id="username" required><br>
    <br>
    <label for="psw"><b>Password </b></label>
    <input type="password" size="30" placeholder="Enter Password" name="psw" id="psw" required>
    <br>
    <br>
    <br><br>
    <button type="submit" class="registerbtn">Login</button>

  <div class="container signin">
    <p>Don't have an account?  Create one <a href="#">here</a>.</p>
      <br>
  </div>
      </span>
    </form>
    </div>
    </div>
</body>
</html>