<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/98.css">
  <link rel="stylesheet" href="style_new.css">
  <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/f9cc65cae5.js" crossorigin="anonymous"></script>
  <title>RetroNet</title>
</head>

<body style="height: 100%;">
<div class="window-body" style="background-color: #dfdfdf; height: 300px;margin-left: 10px;margin-right: 10px;font-family:Pixelated MS Sans Serif;">
    <div class="text-area">
  <div class="container-window" >
      <p style="font-size: 30px;"><b>Logged out</b></p>
      <br>
      <hr style="display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;">
    <br>
      <span class="vertical-line">
      <p><b>You have logged out succesfully!</b></p>
    <br><br>
      </span>
      <br>
      <br>
      </div>
    </div>
    </div>
</body>
</html>