{% extends 'base.html' %}

{% block content %}

<body style="height: 100%;">
    <div class="window-body"
        style="background-color: #dfdfdf; height: 300px;margin-left: 10px;margin-right: 10px;font-family:Pixelated MS Sans Serif;">
        <div class="text-area">
            <div class="container-window">
                <p style="font-size: 30px;"><b>Logged out</b></p>
                <br>
                <hr
                    style="display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;">
                <br>
                <span class="vertical-line">
                    <p><b>You have logged out succesfully!</b></p>
                    <br><br>
                </span>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>
{% endblock %}
