{% extends 'base.html' %}
{% block content %}
<div class="window-body" style="background-color: #dfdfdf;margin-left: 10px;margin-right: 10px;font-family:Pixelated MS Sans Serif;"></div>
    <section class="tweet-view">
        <h2>{{Tweet_Title}}</h1>
        <div class="tweet-view-content">
            <b>Tweet Description</b>
            Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Laboriosam iste nostrum, 
            beatae ex veritatis reprehenderit atque 
            natus laudantium consectetur inventore 
            a ratione! Vel provident consequuntur 
            ex ut illum quod? Ullam molestias incidunt 
            nobis iste tenetur. Esse neque nihil 
            dolores natus minus omnis quae optio 
            nisi odio, harum, quasi et. Natus!
        </div>
        <div class="actions">
            <button style="background-color: red; color: white;">Delete Tweet</button>
            <button style="background-color: blue; color: white;">Update Tweet</button>
        </div>
    </section>
</div>
{% endblock %}
