{% extends 'users/base.html' %}
{% load static %}
{% block content%}
<div id = "main">
{% if is_empty == True %}
	<h1>You don't have any Virtual Machines yet!</h1>
	{% else %}
	{% for vm in object_list %}
	<form name="diskform" id="diskform" method="get" action="{{ vm.first_action }}">
		<div class = "disk-container">
			<div class = "disk-item1"> <img src='{% static "users/floppydisk.png" %}'/> <p> {{vm.name}} </p> </div>
			<div class = "disk-item2"> <button class = "button" type="submit"> Start Virtual Machine </button> </div>
			<div class = "disk-item3"> <a style= "float:right" href=""> +(disk) </a>
				<select name="settings" id = "settings">
				{% for storage_id, name in vm.add_zips %}
				<option value="{% url 'index' storage_id vm.pk %}">{{ name }}</option>
					{% endfor %}
				</select>


			</div>
</div>
	</form>
		</div>
	{% endfor %}

</div>
<script>
document.getElementById('diskform').settings.onchange = function() {
    var new_action = this.value;
    document.getElementById('diskform').action = new_action;
};
</script>
{% endif %}
{% endblock %}
