{% extends 'users/base.html' %}
{% block content %}
	 <div id = "main">
    <div class = "maintext">
      <div style="font-size: 40px; font-weight: bold;">The HTVMs project </div>
    <br>
    <div style = "font-size: 35px">Contributors : </div>
    <br>
    * Akarys : VirtualMachine configurations.
    <br>
    * Lakmatiol : Websocket, managing Terminal connections
    <br>
    * TheDorsan : Database interactions.
    <br>
    * Placuszek : Frontend design.
    <br>
    </div>
  </div>
{% endblock %}

</body>
</html>
<!--- --->
