{% extends 'users/base.html' %}
  {% block content%}
	<div id = "main">
		<div class = "login-grid">
			<div class = "disk-item1"> 
					<p style = "text-align: center;"> Register </p>
					<form method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="">
                <tr>	
                	<th>	
                		<label for="id_username">Username:</label>	
                	</th>
                	<td><input type="text" name="username" autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Username"></td>
                </tr>
				<tr>
					<th>
						<label for="id_password">Password:</label>
					</th>
					<td><input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="******"></td>
				</tr>
				<input type="checkbox" onclick="showpassword()">Show Password
				<br>
				<br>
				<input type = "submit" id = "submit" value = "Register">
        </form>
		    </div>
	</div>
<script>
function showpassword() {
  var x = document.getElementById("id_password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
} 
window.onload = check 
function check() {

}
</script>
{% endblock %}