{% extends 'main.html' %}

{% block content %}
<script type="text/javascript">
  function fun(form_id) {
    console.log("FORM");
    var form = document.getElementById(form_id);
    console.log(form);
    form.style.display = "block";
  }

</script>

<div class='w3-container w3-white' style='width: 1000px; height: 420px;'>

<h5>{{post.title}}</h5>
{% if user.is_authenticated and user == post.author %}
  <form method='POST' action='url'>
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{post.id}}" />
    <button type='submit'  name='delete' style='float:right;'>Delete</button>
  </form>
{% endif %}
<h6>submitted by <a style='color:blue;' href='/user/{{post.author}}'>{{post.author}}</a> on {{post.created}}</h6>
<textarea  style='resize: none; width: 100%; height: 200px;' disabled>{{post.body}}</textarea>

<form method='POST'>
  {% csrf_token %}
  <input type="hidden" name="post_id" value="{{post.id}}" />
  <textarea name="comment_body" style=' width: 700px; height: 100px;' placeholder='Comment'></textarea>
  <button type='submit' name='comment_post' >REPLY</button>
</form>

</div>


<div>
  {% for comment in comments %}
  <div style="padding-left:  {% widthratio comment.thread_level 1 20 %}px;">
    <div style="background-color: lightblue; width: 500px; height: 100px">
      <p>
        {{comment.author}} | {{comment.created}} 
      </p>
      <p>
        {{comment.body}}
      </p>
    </div>
    <button onclick="fun({{comment.id}});">REPLY</button>
  </div>
  <form id="{{comment.id}}" style="display: None;" method="POST">
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{comment.id}}"/>
    <input type="hidden" name="post_id" value="{{post.id}}"/>
    <textarea name="comment_body" style=' width: 700px; height: 100px;' placeholder='Comment'></textarea>
    <button type='submit' name='comment_comment' >REPLY</button>
  </form>
  {% endfor %} 
</div>
{% endblock %}










<!-- 
for i in range(0, 10):
  c = Comment.objects.create(body=str(i*j)*i, author=b, post=None, comment_thread=a)
    for j in range(0, 10):
    Comment.objects.create(body=str(i*j)*i, author=b, post=None, comment_thread=c) -->

      {% for commentx in comment.comment_set.all %}
    <div style="padding-left: 20px;">
      <div style="background-color: lightgrey; width: 500px; height: 100px">
      <p>
        AAA
        {{commentx.author}}
        {{commentx.body}}
      </p>
      </div>
    </div>
    {% for commenty in commentx.comment_set.all %}
      <div style="padding-left: 40px;">
        <div style="background-color: grey; width: 500px; height: 100px">
        <p>
          AAA
          {{commenty.author}}
          {{commenty.body}}
        </p>
        </div>
      </div>
    {% endfor %} 

    {% endfor %} 