<!DOCTYPE html>
<html>
<!-- Frontend is in complete disarray and now I have to accept that. -->
<!-- On the other hand judges will never look inside html -->
<!-- So I can hide this comment and my secrets: -->
<!-- https://cutt.ly/odBCtAb -->
  <head>
    {% load static %}

    <meta charset="utf-8"/>
    <title>Feed</title>
    <meta name="description" content="Amazing social media website">
    <meta name="author" content="Efficient Eagles">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <style>
      @font-face {
        font-family: digital7;
        src: url({% static 'fonts/digital7.ttf' %});
      }

      * {
        font-family: digital7;
      }
      a {
        text-decoration: none;
      }

      .oneline {
        display: flex;
        justify-content: space-between;    
      }
      
      .pfp {
      width: 100px; height:100px;
      }
      .title {
        font-size: 40px;
      }
      .text {
        font-size: 20px;
      }

    </style>
  </head>
  <body style='background-color: #F3F3F3'>

    {% include 'include/navbar.html' %}

    <table style='width: 100%;'>
      <tr>
        <td>
          <div class="container"> 

            {% block content %}

            {% endblock %}

          </div>
        </td>

        {% block search_block %}

        {% endblock %}
      
      </tr>
    </table>
  </body>
{% block js %}

{% endblock %}
</html>
