<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <meta charset="utf-8"/>
    <title>Feed</title>
    <meta name="description" content="Amazing social media website">
    <meta name="author" content="Efficient Eagles">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <style>
      a {
        text-decoration: none;
      }

      .oneline {
        display: flex;
        justify-content: space-between;    
      }
      
      .pfp {
      width: 100px; height:100px;
      }
    </style>
  </head>
  <body style='background-color: #F3F3F3'>
    <div class="w3-bar" style='margin-bottom: 50px;'>
      <a class='' href="{% url 'home' %}">Feed</a> ·
      <a class='' href="{% url 'create_topic' %}">New Topic</a>
      {% if user.is_authenticated and request.user == user %}
        <a class='w3-btn' style="float: right;" href="{% url 'logout' %}?next={{request.path}}">Log out</a>
        <a class='w3-btn' style="float: right;" href="/user/{{user}}">{{ user }}</a>
      {% else %}
        <a class='w3-btn' style="float: right;" href="{% url 'login' %}">Login</a><a class='w3-btn' style='float right;' href="{% url 'register' %}">Sign up</a>
      {% endif %}
    </div>
    <table style='width: 100%;'>
      <tr>
        <td>
          <div class="container"> 

            {% block content %}

            {% endblock %}

          </div>
        </td>

        {% block search_block %}

        {% endblock %}
      
      </tr>
    </table>
  </body>
{% block js %}

{% endblock %}
</html>
