<!DOCTYPE html>
<html>
<head>
  {% load static %}

  <meta charset="utf-8"/>
  <title>Feed</title>
  <meta name="description" content="Amazing social media website">
  <meta name="author" content="Efficient Eagles">
  <link rel='stylesheet' href="{% static 'css/style.css' %}">
</head>
<body>
<div class="w3-bar w3-black">
  <a class='w3-btn' href="{% url 'home' %}">Feed</a>
  {% if user.is_authenticated %}
    <a class='w3-btn' style="float: right;" href="{% url 'logout' %}">Log out</a>
    <a class='w3-btn' style="float: right;" href="#">{{ user }}</a>
  {% else %}
    <a class='w3-btn' style="float: right;" href="{% url 'login' %}">Login</a><a class='w3-btn' style='float right;' href="{% url 'register' %}">Sign up</a>
  {% endif %}
</div>

  <div class="container"> 

    {% block content %}

    {% endblock %}

  </div>
    

</body>
</html>
