{% extends 'main.html' %}

{% block content %}

{% for post in posts %}
<div class='w3-card' style='width:100%; overflow-x: auto; overflow-y: hidden; margin-left:90px;'>
  <header class='w3-container'>
  <h5><a href="./{{post.slug}}" style='color: blue;'>{{post.title}}</a></h5>
  </header>
  <div class='oneline'>
    <h6>submitted by <a style='color:blue;' href="/user/{{post.author}}">{{post.author}}</a> on {{post.created}}</h6>
  </div>
</div>
{% endfor %}
{% endblock %}


{% block search_block %}
  {% include 'include/search.html' %}
{% endblock %}
