{% extends 'base.html' %}

{% block title %}News{% endblock %}
{% block extra_heads %}
    {% load static %}
    <link rel="stylesheet" href="{% static "/wired_app/homepage.css" %}">
{% endblock %}

{% block content %}
    <h1>Articles</h1>
    <ul>
    {% for article in article_list %}
        <li><a href="{{ article.get_absolute_url }}">{{ article.publication_date|date }} - {{ article.title }} - {{ article.headline }}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>
{% endblock %}
