[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
django = "~=3.0.0"
black = "==18.9b0"
flake8 = "*"
django-crispy-forms = "*"
pillow = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
