{% extends 'base.html' %}

{% block content %}
{% for post in post_list %}
<p class="content">{{post.post_content}}</p>
<span class="author">
  <a href="/profile/{{post.posted_by}}">
    {{post.posted_by}}
  </a>&nbsp;
</span>
<span class="post-time">{{post.post_date_posted}}</span>
<hr>
<style>
.author {
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: bold;
}
.content {
    font-size: 0.9rem
}
.post-time {
    font-size: 0.8rem;
    font-style: italic;
    color: #555;
}
</style>

{% endfor %}
{% endblock content %}
