{% extends 'dating/base.html' %}
{% block title %}About Page{% endblock %}

{% block content %}

<h1>Early Dating Home Page -- About</h1>
<Body>
    <h2>    
        <p>Welcome to Proud Puffins - Summer Code Jam 2020 Project Submission</p>
        <p>In this project, we decided to create a dating service site, that was as 90's as possible</p>
        <p>We also created some fun functionality, so poke around and create a profile, and find the</p>
        <p>love of your life.</p>

        <p>Thanks - The Proud-Puffins Team</p>
        <p>Ergomacro, IamMookey, rr, PDXCardinal78 and XPOjabar</p>
    </h2>
</Body>

{% endblock %}