<!DOCTYPE html>

<!-- This is a basic example of a Django parent template. -->
<!-- It adds a favicon to the page. -->
<!-- The title is set by overriding the "title" block. -->
<!-- Body content is added by overriding the "content" block. -->
<!-- Tweak this parent template to meet your project's needs. -->

{% load static %}

<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8">
    <!-- need to passes title as variables in the functions -->
    {% if title %}
        <title>Early Dating | {{ title }}</title>
    {% else %}
        <title> Early Dating </title>
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images\favicon.ico' %}" />
  </head>
  {% endblock %}

  <BODY BGCOLOR=#FFF6F0 BACKGROUND=pglit2.gif TEXT=#000000 LINK=#C00000 VLINK=#800000 ALINK=#FF00FF>
    <H1 ALIGN=CENTER ><FONT FACE="COMIC SANS, COMIC RELIEF, PAPYRUS, CURSIVE"><BLINK><MARQUEE BEHAVIOR=ALTERNATE><B>WELCOME TO THE EARLY DATING!</B></MARQUEE></BLINK></FONT></H1>

    {% block content %}
    {% endblock %}
  </body>


  <OBJECT CLASSID=clsid:22D6F312-B0F6-11D0-94AB-0080C74C7E95 HEIGHT=0px>
    <PARAM NAME=FileName VALUE=sound.mp3 />
    <PARAM NAME=autoplay VALUE=false />
    <OBJECT TYPE=audio/mpeg DATA=http://www.computerhope.com/jargon/m/modem.mp3 HEIGHT=0px>
      <PARAM NAME=controller VALUE=true />
      <PARAM NAME=autoplay VALUE=false />
</html>