{% extends 'dating/base.html' %}
{% block title %} Love Detector {% endblock %}
{% block content %}

<div style="background-image: url(../../../static/images/homebg.gif);" >
    <div class="row">

        <div class="columnleft">
                <img src="https://www.datingsitesreviews.com/images/articles/dating-history-match-com-2000.png"width="250" height="1000" ></img>
        </div>

        <div class="columnright">
                <img src="https://cdn.cnn.com/cnnnext/dam/assets/180606133407-mi-all-merican-ads-90s-hc-p613-1804181642-id-1187535.jpg"width=250" height="1000"></img>
            </div>

        <div class="columncenter">
        <img src="../../../static/images/Proud_Puffin_banner.png" alt="UserImage" height="40" width="1000">
        </div>
    </div>
    <div>
    <p class="Descriptor"> Ready To Find The Love Of Your Life? Ditch The Playboys And Get Loving! </p>
        </div>
</div>

{% endblock %}