{% extends 'dating/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <!--  START OF HOME.HTML CONTENT  -->
{#    <div style="vertical-align:middle; align-content: ; " >#}
    <div >
{#      <img style="vertical-align:middle; text-align:center; height:600px; width:462px;   url(../../../static/images/homedoor.gif);">#}
{#      <img src="static/images/homedoor.gif">#}
{#      <img src="../../../static/images/homedoor.gif"; width="300"; height="400">#}
s        <div style="l"  >
            <img class="centerimage"; src="../../../static/images/homedoor.gif"; width="310"; height="400"; alt="Home page door, with Enter">
        </div>
        <div>zzz</div>
    </div>

{% endblock %}
