{% extends 'dating/base.html' %}

{% block title %}Your Match{% endblock %}
{% block content %}

{% csrf_token %}
{% for item in obj_liked %}
<p style="text-align: center; font-weight: bold; font-size: large; border-color: #003366;
        border-style: inset; border-width: 4px; margin: 30px 200px 0px 200px; width:50%; ">{{ item.voter.username }}
</p>
<p style="text-align: center; vertical-align: middle; width: 659px; margin-left: 200px"><br>
<img src="/media/{{ item.voter.profile.img }}" height="250"; ><br>
<h3 style="margin-left: 220px; margin-right: 200px">{{item.voter.profile.bio}}</h3>
</p>
{% endfor %}

<div class='pagination'>
    <span class="step-links">
        {% if obj_liked.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ obj_liked.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj_liked.number }} of {{ obj_liked.paginator.num_pages }}.
        </span>

        {% if obj_likes.has_next %}
        <a href="?page={{ obj_liked.next_page_number }}">next</a>
        <a href="?page={{ obj_liked.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}