{% extends 'dating/base.html' %}

{% block title %}Your Match{% endblock %}
{% block content %}

{% csrf_token %}
<h1 style="font-size:x-large">Here are your matches</h1>

    {% for item in liked_you %}
        <h3 style="text-align: center; font-weight: bold; font-size: large; border-color: #003366;
        border-style: inset; border-width: 6px; margin: 30px 200px 0px 200px; ">{{ item.voter.username }}</h3>
        <p style="text-align: center; vertical-align: middle; width: 659px; margin-left: 200px"><br>
        <img src="/media/{{ item.voter.profile.img }}" height="250"><br>
        <h3 style="margin-left: 200px; margin-right: 200px">{{item.voter.profile.bio}}</h3>
    </p>

    {% endfor %}

{% endblock %}
