{% extends 'dating/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register for an Account{% endblock %}
{% block content %}
<div class="UserSign">

    <form method="POST" action="">
        <h1>Register for an Account</h1>
        {% csrf_token %}
    <div class="block"></div>
        {% for item in form %}
        
            <p><label style="font-size:large; font-weight:bold; text-align: right">{{ item.label }}</label>
            {{ item }}</p>
        
        {% endfor %}
    </div>
        <input style="margin-left: 256px" class="buttonmatch" type="submit" name="Sign Up" value="Sign Up">
     </form>
    <div style="font-size: large; font-weight: bold;">
        Already have an account? <a href="{% url 'earlydating-login' %}">Login</a>
    </div>
</div>
    {% endblock %}
