{% load static %}

<!DOCTYPE html>
<html>
	<head>	
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <meta charset="utf-8">
    <title>SoCL Media</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
	</head>

	<body>

		{% block content %}
		{% endblock content %}

    <div class="clear" style="clear: both; height: 25vh;"></div>
	</body>

  <footer>

    {% include 'terminal.html' %}

  </footer>

</html>
