{% extends 'base.html' %}

{% block content %}

<div class="window-body" style="background-color: #dfdfdf;margin-left: 10px;margin-right: 10px;font-family:Pixelated MS Sans Serif;">
    <div class="text-area">
  <div class="container-window" >
      <br><br>
    <p style="font-size: 30px;padding-left: 30px;"><b>Login    </b>
      <br>
      <hr style="display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;">
    <br>
      <span>
          <br><br>
      <p><b>Enter the following details.</b></p>
    <br><br>
          <form method="post" class="from-group">
                   {% csrf_token %}
	{{form.as_p}}
              <br>
              <center><button type="submit" class="registerbtn">Login</button></center><br>
                  <p>Don't have an account?  Create one <a href="/register">here</a>.</p>

          </form>
    <br>
    <br>
          <br><br>
      <br>
          <br>
    </span>
    </div>
    </div>
{% endblock %}
