{% extends "base.html" %}

{% block title %}Reset Password - Sparrow Capital{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header">
                    <p>Reset Password</p>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                        <p>{{ form.email }}</p>
                    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
