<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
    <title>{% block title %}The Arena{% endblock %}</title>
</head>
<body>
    <nav id="navbar">
        <a href="{% url 'index' %}" id="brand">The Arena</a>
    </nav>
    <h1 id="title">{% block form_title %}{% endblock %}</h1>
    {% if next %}
        <div id="next">{% block next %}{% endblock %}</div>
    {% endif %}
    <form method="post" id="main-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="field-wrapper">
            {{ field.label_tag }} <br />
            {{ field }}
            {% if field.help_text %}
                <br /> <small class="help">{{ field.help_text|safe }}</small>
            {% endif %}
            {% if field.errors %}
                <small class="error">{{ field.errors }}</small>
            {% endif %}
        </div>
        <br />
    {% endfor %}
    <button type="submit">{% block submit %}{% endblock %}</button>
    </form>
    <div id="content">{% block content %}{% endblock  %}</div>
</body>
</html>